{% assign these_items = site[include.collection] | where: 'bookmarked','true' | sort: 'title' %}

{% if these_items.size >= 1 %}
    <h3 
        class="portlet-separation-title">
        {% if include.url %}
        <a 
            href="/beheer/{{ include.url }}"
            class="pat-inject"
            data-pat-inject="history: record; scroll: #main">{% include patterns/i18n id=include.label %}
        </a>
         {% else %}
            {% include patterns/i18n id=include.label %}
        {% endif %}
    </h3>
    <ul 
        class="link-list expanded col-{{ include.cols }}">
        {% for item in these_items %}
            <li 
                class="item-{{ item.state }}">
                <a 
                    href="{{ item.url }}" 
                    class="pat-inject" 
                    data-pat-inject="history: record; scroll: #main">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}