<div 
	id="browse-bar" 
	class="col-count-5 {% if page.layout == 'prozin/homepage' %}state-expanded{% else %}state-collapsed{% endif %}">
    <div class="container">
        <form 
        	action="/min-stub-5#main" 
        	data-pat-inject="source: #global-nav::element; target: #global-nav::element && source: #main; target: #main; history: record;" 
        	class="pat-form pat-inject">
        	<div class="data-browser row">
        		<h2 
        			class="assistive">
        			Tabel vinden
        		</h2>
        		{% for column in site.data.browse-lane %}
	        		{% if column.type == 'radio' %}
			        	<div 
			        		class="browser-column category pat-checklist free-form radio pat-bar-toggles multi-line pat-switch" 
			        		data-pat-switch="#browse-bar state-collapsed state-expanded">
			        		<h3 class="legend">
			        			{{ column.title }}
			        		</h3>
							{% for item in column.items %}
								<label {% if item.depends %}class="pat-depends"{% endif %}
									   {% if item.depends %}data-pat-depends="condition: {{ item.depends }}; transition: css"{% endif %}>
									<input name="{{ column.title | slugify }}" 
									       value="{{ item.option | slugify }}"
									       {% if item.selected == 'selected' %} checked{% endif %} 
									       type="radio" />
									{{ item.option }}
								</label>
							{% endfor %}
			        	</div>
			        {% elsif column.type == 'auto-suggest' %}    	
			        	<div 
			        		class="browser-column type {% if column.depends %}pat-depends{% endif %}"
			        		{% if column.depends %}data-pat-depends="condition: {{ column.depends }}"{% endif %}>
			        		<h3 class="legend">
			        			{{ column.title }}
			        		</h3>
			        		<label>
			        			<select 
			        				class="pat-autosuggest bar-style" 
			        				data-pat-autosuggest="minimum-input-length: 0" 
		        					{% if column.name %}
		        						name="{{ column.name }}"
		        					{% else %}
		        						name="{{ column.title | slugify }}"
		        					{% endif %}
		        					>
			        				{% for item in column.items %}
			        					{% if item.type == 'group' %}
			        						<optgroup 
			        							label="{{ item.label }}">
			        							{% for option in item.items %}
			        								<option 
			        									value="{{ option.label | slugify }}">
			        									{{ option.label }}
			        								</option>
			        							{% endfor %}
			        						</optgroup>
			        					{% else %}
			        						<option 
			        							value="{{ item.label | slugify }}">
			        							{{ item.label }}
			        						</option>
			        					{% endif %}
			        				{% endfor %}
			        			</select>
			        		</label>
			        	</div>
	        		{% endif %}
        		{% endfor %}
        	</div>
        	<div 
        		class="button-bar">
        		<button 
        			type="submit" 
        			class="default pat-button float-after pat-switch" 
        			data-pat-switch="#browse-bar state-* state-collapsed">Toon overzicht</button>
		        <a 
		        	href="#help-text" 
		        	data-pat-modal="class: medium"
		        	class="icon-help-circle float-after pat-button pat-modal">{% include patterns/i18n id="label_help" %}</a>
        	</div>
        </form>
        <button 
        	class="pat-toggle collapse-expand-toggle" 
        	data-pat-toggle="selector: #browse-bar; value: state-expanded state-collapsed">Collapse/expand panel</button>
    </div>
</div>
<div 
	id="help-text"
	class="assistive">
	<article
		class="container pat-rich">
		<h1>{% include patterns/i18n id="label_help" %}</h1>
		<p>
			{{ site.data.ui.message_gip_browse_lane_help[site.lang] }}
		</p>

		{% assign this_snippet= '{0}' %}									
		{% capture full_snippet %}<a href="/link-to-faq" class="pat-inject" data-pat-inject="scroll: #main; history: record">{{ site.data.prozin.ui.label_faq[site.lang] }}</a>{% endcapture %}

		<p>
			{{ site.data.ui.message_more_info_in_faq[site.lang]
	    	| replace: this_snippet, full_snippet }}
		</p>
	</article>
</div>