<span 
    class="button-cluster">
    <button 
        class="icon expand-all-sections" 
        type="button"
        title="{% include patterns/i18n id='label_expand_all_sections' %}"
        id="button-open-all-sections">{% include patterns/i18n id="label_expand_all_sections" %}</button>
        
    <button 
        class="icon collapse-all-sections" 
        type="button"
        title="{% include patterns/i18n id='label_collapse_all_sections' %}"
        id="button-close-all-sections">{% include patterns/i18n id="label_collapse_all_sections" %}</button>
</span>