<div
    id="{{ page.url | slugify }}"
    data-pat-collapsible="trigger: #{{ include.title | slugify }}-title-segment; store: local; scroll-selector: self; scroll-offset: 120px"
    class="cms-page-module type-registration-holder pat-collapsible {{ include.state }}">
    {% include prozin/cms-page-module-title.html %}
    <div 
        class="panel-content">
        <fieldset 
            class="horizontal form-panel">
            <label>
                {% include patterns/i18n id="label_registration_holder" %}
                <input 
                    class="pat-autosuggest"
                    name="registration-holders"
                    type="text"
                    data-pat-autosuggest='
                        allow-new-words: true; 
                        ajax-search-index: text; 
                        ajax-url: /feedback/involved-parties.json;'/>
                <!-- Creates an organisation -->
            </label>
        </fieldset>
    </div>
</div>