<hgroup
    id="title-block">
    {% if include.placeholder %}
        {% assign this_placeholder = include.placeholder %}
    {% endif %}
    <h1
        id="document-title">{% if page.title %}{{ page.title }}{% else %}&nbsp;{% endif %}</h1>
    <textarea
        required
        name="title"
        type="text"
        maxlength="{{ site.data.prozin.config.max_chars_titles }}"
        value="{{ page.title }}"
        placeholder={{ this_placeholder | default: 'Titel' }}
        class="doc-title pat-content-mirror pat-autofocus"
        data-pat-content-mirror="target: #document-title">{% if page.title %}{{ page.title }}{% endif %}</textarea>
</hgroup>