
<fieldset 
    class="horizontal form-panel">
    <label>
        {% include patterns/i18n id="label_medicine" %}
        <input 
            class="pat-autosuggest" 
            required 
            name="mi"
            type="text" 
            data-pat-autosuggest='
                allow-new-words: false;  
                ajax-search-index: text; 
                max-selection-size: 1;
                ajax-url: /beheer/medicines.json;' />
        {%- include patterns/form-help.html
            content="message_help_medicine_for_conditions" -%}
    </label>
    <label>
        {% include patterns/i18n id="label_conditions" %}
        <textarea
            maxlength="500"
            rows="6">{{ page.conditions_b1 }}</textarea>
        {%- include patterns/form-help.html
            content="message_help_conditions_for_medicine" -%}
    </label>
    <label>
        GVS
        <input 
            placeholder="https://…"
            value="{{ page.gvs }}"
            type="url" />
    </label>
</fieldset>
