<fieldset 
    class="horizontal form-panel">
    {% include standard-edit-form-sectors.html %}
    <label>
        {% include patterns/i18n id="label_registration_date" %}
        <input
            class="pat-date-picker" 
            data-pat-date-picker="output-format: D MMMM YYYY"
            type="date" 
            name="">
    </label>
    {% include standard-edit-form-revision-date.html %}
    <label>
        Website kwaliteitsregistratie
        <input 
            type="url" 
            name="website">
    </label></fieldset>
