<fieldset 
    class="horizontal form-panel">
    <label>
        {% include patterns/i18n id="label_first_name" %}
        <input 
            type="text" 
            name="">
    </label>
    <label>
        
        {% include patterns/i18n id="label_last_name" %}
        <input 
            type="text" 
            name="">
    </label>
    <label>
        
        {% include patterns/i18n id="label_email" %}
        <input 
            type="email" 
            name="">
    </label>
    <label>
        {% include patterns/i18n id="label_organisation" %}
        <input 
            type="text" 
            name="">
    </label>
    <label> 
        {% include patterns/i18n id="label_role" %}
        <input 
            type="text" 
            name="">
    </label>
    <label>
        {% include patterns/i18n id="label_position_in_org" %}
        <input 
            type="text" 
            name="">
    </label>
</fieldset>