<fieldset 
    class="horizontal form-panel metadata">
    <fieldset
        id="object-upload" 
        class="group object-upload pat-subform pat-autosubmit pat-inject"
        data-pat-inject="url: /general/begrippenlijst-edit; source: #object-upload; target: #object-upload">
        <legend>{% include patterns/i18n id="label_file" %}</legend>
        {% if include.source %}
            <figure 
                class="pat-screenshot allow-interaction">
                <div
                    class="pat-auto-scale passe-partout"
                    style="{% if include.height %}height: {{ include.height }};{% endif %}{% if include.width %}width: {{ include.width }};{% endif %}">
                    <object 
                        id="{{ include.source | slugify }}-object" 
                        data="{{ include.source }}"
                        style="{% if include.height %}height: {{ include.height }};{% endif %}{% if include.width %}width: {{ include.width }};{% endif %}">
                    </object>
                </div>
            </figure>
            <a
                href="/general/begrippenlijst-edit#object-upload"
                data-pat-inject="url: /dialogues/cms/edit-news-item; source: #object-upload; target: #object-upload"
                class="small default pat-button pat-inject"
                type="button">{% include patterns/i18n id="label_remove_presentation_imp" %}</a>
        {% else %}
            <input 
                type="file" 
                name="object">
        {% endif %}
        {% include patterns/form-help.html
                content="message_help_presentation_upload" %}</dfn>
    </fieldset>    
    <label>
        {% include patterns/i18n id="label_optimal_width_in_pixels" %}
        <input 
            required
            value="1280"
            type="number" 
            name="">
    </label>   
    <label>
        {% include patterns/i18n id="label_optimal_height_in_pixels" %}
        <input 
            required
            value="720"
            type="number" 
            name="">
    </label> 
    <fieldset
        class="pat-checklist">
        <!-- <legend>{% include patterns/i18n id="patterns.label_behaviour" %}</legend> -->
        <label>{% include patterns/i18n id="patterns.label_allow_interaction" %} <input type="checkbox" name="interaction"></label>
    </fieldset>    
    <label>
        {% include patterns/i18n id="label_caption" %}
        <textarea
            rows="2"></textarea>
    </label>  
</fieldset>
