<fieldset 
    class="horizontal form-panel">
    <label>
        {% include patterns/i18n id="label_personas" %}
        <select
            class="pat-autosuggest"
            placeholder="Selecteer één of meerdere personas"
            multiple>
            {% for item in site.personas %}
                {% if item.layout == 'persona' %}
                    <option>{{ item.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label>
    {% include prozin/form-field-product-selector.html %}
</fieldset>
