<li class="sortable-item ">
    <fieldset class="file-download">
        <h3 class="title">
            {{ download.title }}
        </h3>
        <p class="meta">
            {% if download.type == 'pdf' %}
            <span class="meta-item">{{ site.data.prozin.ui.label_pdf_file[site.data.config.lang] }}</span>
            {% elsif download.type == 'zip' %}
            <span class="meta-item">{{ site.data.prozin.ui.label_zip_file[site.data.config.lang] }}</span>
            {% elsif download.type == 'archive' %}
            <span class="meta-item">{{ site.data.prozin.ui.label_compressed_file[site.data.config.lang] }}</span>
            {% elsif download.type == 'word' %}
            <span class="meta-item">{{ site.data.prozin.ui.label_word_file[site.data.config.lang] }}</span>
            {% elsif download.type == 'excel' %}
            <span class="meta-item">{{ site.data.prozin.ui.label_excel_file[site.data.config.lang] }}</span>
            {% endif %}
            {% if download.page_count %}
            <span class="meta-item">{{ download.page_count }}
                {{ site.data.prozin.ui.fragment_pages[site.data.config.lang] }}</span>
            {% endif %}
            <span class="meta-item">{{ download.size }}</span>
        </p>
        <p class="meta">
            <span class="meta-item">{{ download.kind }}</span>
            {% if download.date %}
            <span class="meta-item">{{ download.date }}</span>
            {% endif %}
        </p>
        <label class="delete-button">
            Delete
            <input type="checkbox" name="{{ download.title | slugify }}">
        </label>
    </fieldset>
</li>
           
