<div
    data-pat-collapsible="store: local; scroll-selector: self; scroll-offset: 120px"
    class="cms-page-module type-see-also pat-collapsible {{ include.state }}">
    <div
        class="page-module-title buttoned">
        <h2
            class="title-segment">
            {% include patterns/i18n id="label_see_also" %}
        </h2>
    </div>
    <fieldset 
        class="horizontal form-panel metadata">
<!--         <label>
            Interne links
            <input 
            class="pat-autosuggest"
            required
            value="Nieuws > The anchor man" 
            name="internal-links"
            type="text"
            data-pat-autosuggest='
                ajax-search-index: text; 
                ajax-url: /dialogues/cms/internal-links.json;'/>
        </label>  -->  
        <label>
            {% include patterns/i18n id="label_general" %}   
            <input 
                class="pat-autosuggest"
                required
                name="mi"
                type="text"
                data-pat-autosuggest='
                    allow-new-words: false;  
                    ajax-search-index: text; 
                    ajax-url: /dialogues/cms/general.json;' />
        </label>
        <label>
            {% include patterns/i18n id="label_news" %}   
            <input 
                class="pat-autosuggest"
                required
                name="mi"
                type="text"
                data-pat-autosuggest='
                    allow-new-words: false;  
                    ajax-search-index: text; 
                    ajax-url: /dialogues/cms/news-items.json;' />
        </label>
        <fieldset
            class="group grid-editor">
            <legend>{% include patterns/i18n id="label_external_links" %}</legend>
            <!-- <div 
                class="add-links pat-clone">
                <fieldset
                    class="clone links-set">
                    <input 
                        placeholder="Title" 
                        type="text" 
                        name="title">
                    <input 
                        placeholder="URL" 
                        type="url" 
                        name="">
                    <textarea
                        placeholder="Description"></textarea>
                </fieldset>
            </div> -->
            <ul 
                id="external-links"
                class="link-list">
                {% for item in page.external_links %}
                    <li
                        id="el-page-{{ item.title | slugify }}">
                        <a 
                            title="{{ item.description }}"
                            target="new"
                            class="follow type-link-external" 
                            href="{{ item.url }}">{{ item.title }}
                            <input 
                                type="hidden" 
                                value="{{ item.title }}"
                                name="link-1-title">
                            <input 
                                type="hidden" 
                                value="{{ item.description }}"
                                name="link-1-title">
                            <input 
                                type="hidden" 
                                value="{{ item.url }}"
                                name="link-1-title">
                        </a>
                        <div 
                            class="functions">
                            <label
                                data-pat-switch="
                                    selector: #el-page-{{ item.title | slugify }}; 
                                    add: deleted"
                                class="button delete-button pat-switch">
                                Delete
                                <input 
                                    type="checkbox" 
                                    name="{{ download.title | slugify }}">
                            </label>
                        </div>
                {% endfor %}
            </ul>
            <div 
                class="button-bar">
                <a 
                    href="/dialogues/cms/panel-external-link#document-content" 
                    data-pat-modal="class: medium panel"
                    class="default small pat-button pat-modal">{% include patterns/i18n id="label_add_imp" %}</a>
            </div>
        </fieldset>    
    </fieldset>
</div>