<!-- <label>
    {% include patterns/i18n id="label_summary" %}
    <textarea
        rows="3">{{ page.summary }}</textarea>
</label> -->
<label>
    {% include patterns/i18n id="label_publication_date" %}
    <input 
        class="pat-date-picker" 
        placeholder="Selecteer een datum voor automatische publicatie" 
        type="date" 
        name="publication-date">
</label>
<label>
    {% include patterns/i18n id="label_author" %}
    <input 
        class="pat-autosuggest"
        required
        value="Riwka Rubinstein" 
        name="email"
        type="text"
        data-pat-autosuggest='
            allow-new-words: true; 
            maximum-selection-size: 1; 
            ajax-search-index: text; 
            ajax-url: /feedback/users.json;'/>
    <!-- <button
        hidden
        formaction="/dialogues/users/edit-user-found"
        type="submit">Verstuur</button> -->
</label>
<label>
    Tags        
    <input 
        class="pat-autosuggest"
        required
        value="Wettelijk verplicht, Begroot" 
        name="email"
        type="text"
        data-pat-autosuggest='
            allow-new-words: true;  
            ajax-search-index: text; 
            ajax-url: /feedback/tags.json;'/>
</label>