
<fieldset 
    class="horizontal form-panel">
    <label
        {% include patterns/form-field-auto-save-attributes %}
        class="{% include patterns/form-field-auto-save-classes %}">
        {% include patterns/i18n id="label_domain" %}
        <select>
            {% for item in site.data.domains %}
                <option 
                    value="domain-{{ item.name | slugify }}">{{ item.name }}</option>
            {% endfor %}
        </select>
    </label>
    <!-- {% include patterns/form-field-number.html
        label="label_release_number"
        step="any" %} -->
    <label>
        {% include patterns/i18n id="label_release_number" %}
        <span 
            class="field-cluster">
            <label>
                {% include patterns/i18n id="label_major" %}
                <input 
                    type="number"
                    required
                    value="{{ page.version_number_major | default: 0 }}"
                    placeholder="{% include patterns/i18n id='label_major' %}"
                    min="0"
                    step="1">
            </label>
            <label>
                {% include patterns/i18n id="label_minor" %}
                <input 
                    type="number"
                    required
                    value="{{ page.version_number_minor | default: 0 }}"
                    placeholder="{% include patterns/i18n id='label_minor' %}"
                    min="0"
                    step="1">
            </label>
            <label>
                {% include patterns/i18n id="label_patch" %}
                <input 
                    type="number"
                    required
                    value="{{ page.version_number_patch | default: 0 }}"
                    placeholder="{% include patterns/i18n id='label_patch' %}"
                    min="0"
                    step="1">
            </label>
        </span>
    </label>
    <label>
        Status
        <select>
            <option>In ontwikkeling</option>
            <option>Lopend</option>
            <option>Archief</option>
        </select>
    </label>

    {% include patterns/form-field-date.html
        value="2023-12-27"
        label="label_release_date" %}

</fieldset>