
<fieldset 
    class="horizontal form-panel">
    <label
        {% include patterns/form-field-auto-save-attributes %}
        class="{% include patterns/form-field-auto-save-classes %}">
        {% include patterns/i18n id="label_template" %}
        <select>
            <option value="">Volledige inhoud van nieuwsberichten</option>
            <option value="">Samenvattingen van nieuwsberichten met links</option>
        </select>
    </label>
    <fieldset 
        {% include patterns/form-field-auto-save-attributes %}
        class="
            group
            {% include patterns/form-field-auto-save-classes %}
            pat-checklist 
            checkbox">
        <label>
            {% include patterns/i18n id="label_show_images" %}
            <input
                name="ticked" 
                type="checkbox">
        </label>
    </fieldset>
    {% include prozin/form-field-mailing-lists.html %}
    <label
        {% include patterns/form-field-auto-save-attributes %}
        class="{% include patterns/form-field-auto-save-classes %}">
        {% include patterns/i18n id="label_frequency" %}
        <select>
            <option>{%- include patterns/i18n id="patterns.label_daily" -%}</option>
            <option>{%- include patterns/i18n id="patterns.label_weekly" -%}</option>
            <option>{%- include patterns/i18n id="patterns.label_monthly" -%}</option>
            <option>{%- include patterns/i18n id="patterns.label_quarterly" -%}</option>
            {%- comment -%}<option>{%- include patterns/i18n id="patterns.label_never" -%}</option>{%- endcomment -%} 
        </select>
        <!-- 'Never' can be achieved with archiving. -->
    </label>
    {% include patterns/form-field-date.html
        label="label_starting_date"
        value="2024-01-28"
        action=page.url %}
</fieldset>