<!-- <label>
    {% include patterns/i18n id="label_summary" %}
    <textarea
        rows="3">{{ page.summary }}</textarea>
</label> -->
<label>
    {% include patterns/i18n id="label_publication_date" %}
    <input 
        data-pat-date-picker="output-format: D MMMM YYYY;"
        class="pat-date-picker" 
        placeholder="Selecteer een datum voor automatische publicatie" 
        type="date" 
        name="publication-date">
</label>
{% include prozin/form-field-author.html %}
<!-- <label>
    {% include patterns/i18n id="label_language" %}
    <select>
        <option>{% include patterns/i18n id="patterns.label_arabic" %}</option>
        <option>{% include patterns/i18n id="patterns.label_german" %}</option>
        <option>{% include patterns/i18n id="patterns.label_english" %}</option>
        <option>{% include patterns/i18n id="patterns.label_french" %}</option>
        <option>{% include patterns/i18n id="patterns.label_hebrew" %}</option>
        <option
            selected>{% include patterns/i18n id="patterns.label_dutch" %}</option>
    </select>
</label> -->
{% include prozin/form-field-tags.html %}