
<fieldset 
    class="horizontal form-panel">
    <label>
        {% include patterns/i18n id="label_organisations" %}
        <input 
            class="pat-autosuggest"
            name="user-groups"
            type="text"
            value="Roche"
            data-pat-autosuggest='
                allow-new-words: false; 
                ajax-search-index: text; 
                ajax-url: /feedback/organisations.json;'/>
        {% include patterns/form-help.html
            content="message_help_mailing_list_organisations" %}
    </label>
</fieldset>