
<fieldset 
    class="horizontal form-panel metadata">
<!--     <label>
        {% include patterns/i18n id="label_header" %}
        <input 
            placeholder="{% include patterns/i18n id='message_header_above_block' %}" 
            type="text" 
            name="video_title">
    </label> -->
    <fieldset
        id="video-upload" 
        class="group video-upload pat-subform pat-autosubmit pat-inject"
        data-pat-inject="url: /news/publicatie-edit; source: #video-upload; target: #video-upload">
        <legend>{% include patterns/i18n id="label_video" %}</legend>
        {% if include.video %}
            <video 
                controls="controls">
                <source 
                    src="{{ include.video }}"/>
            </video>
            <a
                href="/dialogues/cms/edit-news-item#video-upload"
                data-pat-inject="url: /dialogues/cms/edit-news-item; source: #video-upload; target: #video-upload"
                class="small default pat-button pat-inject"
                type="button">{% include patterns/i18n id="label_remove_video_imp" %}</a>
        {% else %}
            <input 
                type="file" 
                name="video">
        {% endif %}
    </fieldset>     
    <fieldset
        class="group transcript">
        <legend>{% include patterns/i18n id="label_transcript" %}</legend>
        {% capture this_placeholder %}{% include patterns/i18n id="message_write_pate_video_transcript" %}{% endcapture %}
        {% include patterns/form-field-rich-editor.html
            placeholder=this_placeholder
            content=include.transcript
            id="editor-toolbar-video" %}
    </fieldset>   
</fieldset>
