{% unless site.user == 'anonymous' or site.data.personae[site.data.config.persona].role == 'Visitor' %}
    {% include prozin/bookmark-icon-subform.html %}
{% endunless %}

{% include prozin/toolbar-component-local-search.html %}

{% if 
    site.data.personae[site.data.config.persona].role == 'Editor'
        or
    site.data.personae[site.data.config.persona].role == 'Administrator'
 %}
    {% include  prozin/language-menu.html %}
    <a 
        class="icon icon-ellipsis-hor pat-tooltip" 
        href="#id-{{ page.title | slugify }}" 
        data-pat-tooltip="source: ajax; position-list: tr">More…</a>
    <div
        hidden
        id="id-{{ page.title | slugify }}">
        <ul 
            class="menu">
            <li>
                <form>
                    <fieldset
                        class="pat-checklist">
                        <label>
                            Toon revisiemarkeringen
                            <input 
                                type="checkbox" 
                                name="revision_markings">
                        </label>   
                    </fieldset>
                </form>
            </li>
            {% if 
                page.state == "Published" %}
                {% if 
                    page.layout == "prozin/news-item"
                        or
                    page.layout == "prozin/glossary-term"
                    %}
                    {%- include prozin/more-menu-item-co-publication.html -%}
                {% endif %}
                <li>

                </li>
            {% endif %}
            {%- include prozin/more-menu-item-history.html -%}
            {%- include prozin/more-menu-item-compare-versions.html -%}
            {% if page.state == 'Archived' %}
                {%- include prozin/more-menu-item-unarchive.html -%}
            {% else %}
                {%- include prozin/more-menu-item-archive.html -%}
            {% endif %}
            {% if 
                page.state == 'Draft' 
                    or 
                page.state == 'For review' 
                    or 
                page.state == 'new %}
                {%- include prozin/more-menu-item-delete-draft.html -%}
            {% endif %}
        </ul>
    </div>
{% endif %}

{% if page.state == 'Published' %}
    <a 
        data-pat-depends="condition: version=latest" 
        href="{{ page.url }}-state-edit" 
        class="pat-button pat-inject icon-update pat-depends edit" 
        title="Maak een nieuwe revisie van de laatst gepubliceerde versie van dit document">{%- include patterns/i18n id="label_new_version" -%}</a>
{% elsif page.state == 'Draft' or page.state == 'New' %}
    <a 
        data-pat-depends="condition: version=draft"  
        {% if site.data.prozin.personae[site.data.config.persona].role == 'Administrator' %}
            href="/dialogues/cms/publish-confirm.html#document-content"
        {% endif %}
        class="pat-button pat-depends edit pat-modal {% if site.data.prozin.personae[site.data.config.persona].role != 'Administrator' %}disabled{% endif %}" 
        data-pat-modal="class: small panel"
        title="Publiceer deze revisie">{% include patterns/i18n id="label_submit_for_review_imp" %}</a>
{% else %}
    <a 
        data-pat-depends="condition: version=draft or version=for-review"  
        {% if site.data.prozin.personae[site.data.config.persona].role == 'Administrator' %}
            href="/dialogues/cms/publish-confirm.html#document-content"
        {% endif %}
        class="pat-button pat-depends edit pat-modal default" 
        data-pat-modal="class: medium panel"
        title="Publiceer deze revisie">{{ site.data.prozin.ui.label_publish_imp[site.data.config.lang] }}</a>
{% endif %}

{% if page.locked %}
    <a 
        data-pat-depends="condition: version=draft or version=for-review" 
        data-pat-tooltip="class: rich info; source: ajax; position-list: tr;" 
        href="#locking-menu" 
        class="pat-button pat-depends pat-tooltip locked edit" 
        title="Bewerk de conceptversie van dit document">{{ site.data.prozin.ui.label_edit[site.data.config.lang] }}</a>
    <article 
        id="locking-menu" 
        class="assistive">
        <p>
            {% include patterns/i18n id="message_document_being_edited_by_other_user" %}
        </p>
        <p>
            <a 
                class="pat-button default small close-panel pat-modal"
                data-pat-modal="class: medium panel" 
                href="/dialogues/cms/lock-steal-confirm.html#document-content">{% include patterns/i18n id="label_steal_lock_imp" %}</a>
        </p>
    </article>
{% else %}
    <a 
        {% unless page.url contains 'copy' %}data-pat-depends="condition: version=draft or version=for-review"{% endunless %} 
        {% if site.data.prozin.personae[site.data.config.persona].role == 'Administrator' %}
            href="{{ page.url }}-state-edit"
        {% endif %} 
        class="
            pat-button 
            {% unless site.data.prozin.personae[site.data.config.persona].role == 'Administrator' %}disabled{% endunless %} 
            {% unless page.state == 'For review' %}default{% endunless %} 
            {% unless page.url contains 'copy' %}pat-depends{% endunless %} 
            edit 
            pat-inject" 
        data-pat-inject="source: body; target: body"
        title="Bewerk de conceptversie van dit document">{{ site.data.prozin.ui.label_edit[site.data.config.lang] }}</a>
{% endif %}