<fieldset 
    data-pat-inject="source: #save-button; target: #save-button"
    class="pat-inject pat-rich pat-subform pat-autosubmit">
    {% if include.placeholder %}
        {% assign this_placeholder = include.placeholder %}
    {% else %}
        {% assign this_placeholder = 'Titel' %}
    {% endif %}

    {% include prozin/cms-title-block-title.html
        placeholder=this_placeholder %}
        
    {% unless include.summary == false %}
        {%- include prozin/cms-title-block-summary.html -%}
    {% endunless %}
</fieldset>