<fieldset 
    data-pat-inject="source: #save-button; target: #save-button"
    class="pat-inject pat-rich pat-subform pat-autosubmit">
    {% if include.placeholder %}
        {% assign this_placeholder = include.placeholder %}
    {% else %}
        {% assign this_placeholder = 'Titel' %}
    {% endif %}

    {% include prozin/cms-title-block-title.html
        placeholder=this_placeholder %}
        
    {% unless include.summary == false %}
        <div
            class="introduction"
            id="page-intro">
            <p
                id="document-summary">{% if page.summary %}{{ page.summary }}{% else %}&nbsp;{% endif %}</p>
            <textarea
                required
                type="text"
                maxlength="{{ site.data.prozin.config.max_chars_summaries }}"
                value="{{ page.summary }}"
                placeholder="{% include patterns/i18n id='label_introduction' %}"
                class="doc-summary pat-content-mirror"
                data-pat-content-mirror="target: #document-summary">{% if page.summary %}{{ page.summary }}{% endif %}</textarea>
        </div>
    {% endunless %}
</fieldset>