<article
    class="body-text pat-rich">
    {% if include.content %}
        {% capture this_content %}{{ include.content | markdownify }}{% endcapture %}
    {% else %}
        {% capture this_content %}{{ page.content | markdownify }}{% endcapture %}
    {% endif %}
    
    {% include
        patterns/rich-editor.html
        placeholder="Optional elaboration on the definition."
        autofocus=false
        toolbar="editor-toolbar"
        image-panel="#pat-modal.image-picker"
        image-menu="/dialogues/cms/image-menu#document-content"
        link-panel="#pat-modal.panel-hyperlink"
        link-menu="/dialogues/cms/hyperlink-menu#document-content"
        content=this_content %}
</article>
