<fieldset 
    class="horizontal form-panel">
    <label>
        {% include patterns/i18n id="label_sector" %}
        <select
            class="pat-autosuggest"
            name="sector"
            multiple>
            {% for item in site.data.sectors %}
                <option
                    value="{{ item.title | slugify }}">{{ item.title }}</option>
            {% endfor %}
        </select>
        {% include patterns/form-help.html 
            content="message_help_sector" %}
    </label>
    <label>
        {% include patterns/i18n id="label_registrered" %}
        <input
            class="pat-date-picker" 
            data-pat-date-picker="output-format: D MMMM YYYY"
            type="date" 
            name="">
        {% include patterns/form-help.html 
            content="message_help_registered" %}
    </label>
    <label>
        {% include patterns/i18n id="label_revision_date" %}
        <input
            class="pat-date-picker" 
            data-pat-date-picker="output-format: D MMMM YYYY"
            type="date" 
            name="">
        {% include patterns/form-help.html 
            content="message_help_revision_date" %}
    </label>
    <label>
        Website kwaliteitsregistratie
        <input 
            type="url" 
            name="website">
    </label>
    <label>
        Kwaliteitsstandaarden
        <input 
            class="pat-autosuggest"
            required
            name="qs"
            type="text"
            data-pat-autosuggest='
                allow-new-words: false;  
                ajax-search-index: text; 
                ajax-url: /feedback/kwaliteitsstandaarden.json;' />
    </label>
    <label>
        Meetinstrumenten   
        <input 
            class="pat-autosuggest"
            required
            name="mi"
            type="text"
            data-pat-autosuggest='
                allow-new-words: false;  
                ajax-search-index: text; 
                ajax-url: /feedback/meetinstrumenten.json;' />
    </label>
</fieldset>
