<fieldset 
    class="horizontal form-panel">
    {% include standard-edit-form-sectors.html %}
    {% include standard-edit-form-healthcare-areas.html %}
    <label>
        ISID
        <input 
            type="text" 
            name="isid">
    </label>
    <fieldset
        class="group">
        <legend>{% include patterns/i18n id="label_status" %}</legend>   
        <fieldset
            class="pat-checklist checkbox">
            <label>
                {% include patterns/i18n id="label_included_in_register" %}
                <input 
                    type="checkbox" 
                    name="register">
            </label>
            <label>
                {% include patterns/i18n id="label_on_long_term_agenda" %}
                <input 
                    type="checkbox" 
                    name="mja">
            </label>
            <label>
                {% include patterns/i18n id="label_in_development" %}
                <input 
                    type="checkbox" 
                    name="kwaliteitsregistratie">
            </label>
        </fieldset>
    </fieldset>
    {% include standard-edit-form-registration-date.html %}
    <label
        data-pat-depends="condition: mja; transition: slide"
        class="pat-depends">
        {% include patterns/i18n id="label_deadline_delivery_date" %}
        <input
            class="pat-date-picker" 
            data-pat-date-picker="output-format: D MMMM YYYY"
            type="date_mja" 
            name="">
        {% include patterns/form-help.html 
            content="message_help_long_term_agenda" %}
    </label>
    <label>
        {% include patterns/i18n id="label_revision_date" %}
        <input
            class="pat-date-picker" 
            data-pat-date-picker="output-format: D MMMM YYYY"
            type="date" 
            name="">
        {% include patterns/form-help.html 
            content="message_help_revision_date" %}
    </label>
    <label>
        {% include patterns/i18n id="label_quality_registrations" %}
        <input 
            class="pat-autosuggest"
            required
            name="qs"
            type="text"
            data-pat-autosuggest='
                allow-new-words: false;  
                ajax-search-index: text; 
                ajax-url: /feedback/kwaliteitsstandaarden.json;' />
    </label>
    <label>
        {% include patterns/i18n id="label_quality_standards" %}
        <input 
            class="pat-autosuggest"
            required
            name="qs"
            type="text"
            data-pat-autosuggest='
                allow-new-words: false;  
                ajax-search-index: text; 
                ajax-url: /feedback/kwaliteitsstandaarden.json;' />
    </label>
    <label>
        {% include patterns/i18n id="label_measuring_instruments" %}   
        <input 
            class="pat-autosuggest"
            required
            name="mi"
            type="text"
            data-pat-autosuggest='
                allow-new-words: false;  
                ajax-search-index: text; 
                ajax-url: /feedback/meetinstrumenten.json;' />
    </label>
</fieldset>
