<fieldset 
    class="horizontal form-panel metadata">
    <fieldset
        id="video-upload" 
        class="group video-upload pat-subform pat-autosubmit pat-inject"
        data-pat-inject="url: /news/publicatie-edit; source: #video-upload; target: #video-upload">
        <legend>{% include patterns/i18n id="label_video" %}</legend>
        {% if include.object %}
            <div
                class="pat-auto-scale passe-partout"
                style="{% if include.height %}height: {{ include.height }};{% endif %}{% if include.width %}width: {{ include.width }};{% endif %}">
                <object 
                    id="{{ include.source | slugify }}-object" 
                    data="{{ include.source }}"
                    style="{% if include.height %}height: {{ include.height }};{% endif %}{% if include.width %}width: {{ include.width }};{% endif %}">
                </object>
            </div>
            <a
                href="/dialogues/cms/edit-news-item#video-upload"
                data-pat-inject="url: /dialogues/cms/edit-news-item; source: #video-upload; target: #video-upload"
                class="small default pat-button pat-inject"
                type="button">{% include patterns/i18n id="label_remove_video_imp" %}</a>
        {% else %}
            <input 
                type="file" 
                name="object">
        {% endif %}
    </fieldset>     
    <fieldset
        class="group transcript">
        <legend>{% include patterns/i18n id="label_transcript" %}</legend>
        {% capture this_placeholder %}{% include patterns/i18n id="message_write_pate_video_transcript" %}{% endcapture %}
        {% include patterns/form-field-rich-editor.html
            placeholder=this_placeholder
            content=include.transcript
            id="editor-toolbar-video" %}
    </fieldset>   
</fieldset>
