
<fieldset 
    class="horizontal form-panel">
    <label
        {% include patterns/form-field-auto-save-attributes %}
        class="{% include patterns/form-field-auto-save-classes %}">
        {% include patterns/i18n id="label_domain" %}
        <select>
            <option>iWlz</option>
            <option>iWmo</option>
            <option>iKw</option>
            <option>iPgb</option>
            <option>iEb</option>
        </select>
    </label>
    {% include patterns/form-field-number.html
        label="label_release_number"
        step="any" %}
    <label>
        Status
        <select>
            <option>In ontwikkeling</option>
            <option>Lopend</option>
            <option>Archief</option>
        </select>
    </label>
    {%- comment -%}
    {%- include patterns/form-field-date.html
        value="2023-12-27"
        label="label_release_date" -%}
    {%- endcomment -%}
</fieldset>