<div
    data-pat-collapsible="store: local; scroll-selector: self; scroll-offset: 120px"
    id="{{ include.title | slugify }}"
    class="cms-page-module type-body-text-segment pat-collapsible {{ include.state }}">
    <div
        class="page-module-title">
        <h2
            class="title-segment">
            {% include patterns/i18n id="label_image" %}
        </h2>
    </div>
    <fieldset 
        class="horizontal form-panel metadata">
        <label>
            {% include patterns/i18n id="label_header" %}
            <input 
                placeholder="{% include patterns/i18n id='message_header_above_block' %}" 
                type="text" 
                name="image_title">
        </label>
        <fieldset
            id="image-selection-938664" 
            class="group image-selection pat-subform pat-autosubmit pat-inject"
            data-pat-inject="url: /news/publicatie-edit; source: #image-selection-938664; target: #image-selection-938664">
            <legend>{% include patterns/i18n id="label_image" %}</legend>
            {% if page.image %}
                {% if page.image %}
                    <img
                        alt="" 
                        src="{{ page.image }}" />
                    <a
                        href="/dialogues/cms/edit-news-item#image-selection-938664"
                        class="small default pat-button pat-inject"
                        type="button">{% include patterns/i18n id="label_remove_image_imp" %}</a>
                {% else %}
                    <a 
                        href="/dialogues/image-bank/panel-select-image-image-bank#document-content"
                        data-pat-modal="class: large panel" 
                        class="small default pat-button pat-modal">{% include patterns/i18n id="label_select_from_image_bank_imp" %}</a>
                {% endif %}
            {% endif %}
        </fieldset>  
        <label>
            {% include patterns/i18n id="label_caption" %}
            <textarea
                placeholder="{% include patterns/i18n id='message_caption_optional' %}"></textarea>
        </label>    
    </fieldset>
</div>