
<fieldset 
    class="horizontal form-panel">
    <fieldset 
        {% include patterns/form-field-auto-save-attributes action=page.url %}
        class="
            group
            {% include patterns/form-field-auto-save-classes %}
            pat-checklist 
            checkbox"">
            {%- include patterns/i18n id="label_newsletter_form" -%}
        <label>
            {% include patterns/i18n id="label_allow_opt_in_mailing_list" %}
            <input
                name="exposed" 
                checked
                type="checkbox">
        </label>
        <label
            class="pat-depends"
            data-pat-depends="condition: exposed; transition: slide">
            {% include patterns/i18n id="label_ticked_by_default" %}
            <input
                name="ticked" 
                type="checkbox">
        </label>
        {% include patterns/form-help.html
            content="message_help_news_letter_form" %}
    </fieldset>
</fieldset>