<fieldset 
    class="
        horizontal 
        form-panel 
        metadata">
    <fieldset 
        class="
            group 
            pat-checklist 
            radio">
        <legend>Hosting</legend>
        <label>
            {% include patterns/i18n id="label_local" %}  
            <input           
                {% if include.hosting == 'local' %}checked{% endif %}        
                value="local"
                type="radio" 
                name="hosting-{{ include.source | slugify }}"
                >
        </label>
        <label>
            {% include patterns/i18n id="label_remote" %}
            <input 
                {% if include.hosting == 'remote' %}checked{% endif %} 
                type="radio" 
                value="remote"
                name="hosting-{{ include.source | slugify }}">
        </label>
    </fieldset>
    <label
        data-pat-depends="
            condition: hosting-{{ include.source | slugify }}=remote; 
            transition: slide" 
        class="
            pat-subform 
            pat-autosubmit 
            pat-inject 
            pat-depends"
        data-pat-inject="url: /general/apenkooi-state-edit; source: #object-remote; target: #object-remote">
        {% include patterns/i18n 
            id="patterns.label_url" %}
        <input 
            type="url" 
            {% if include.source and include.hosting == 'remote' %}
                value="{{ include.source }}"
            {% endif %}
            placeholder="https://…" 
            name="url">
    </label> 
    <!-- <fieldset
        id="object-remote"
        data-pat-depends="
            condition: hosting-{{ include.source | slugify }}=remote; 
            transition: slide" 
        class="
            group 
            object-upload 
            pat-depends">
        <legend>{% include patterns/i18n id="label_presentation" %}</legend>
        {% if include.source and include.hosting == 'remote' %}
            <figure 
                class="
                    pat-screenshot 
                    allow-interaction">
                <div
                    class="
                        pat-auto-scale 
                        passe-partout"
                    style="{% if include.height %}height: {{ include.height }}px;{% endif %}{% if include.width %}width: {{ include.width }}px;{% endif %}">
                    <object 
                        id="{{ include.source | slugify }}-object" 
                        data="{{ include.source }}"
                        style="{% if include.height %}height: {{ include.height }}px;{% endif %}{% if include.width %}width: {{ include.width }}px;{% endif %}">
                    </object>
                </div>
            </figure>
        {% endif %}
    </fieldset>    -->
    <fieldset
        id="object-upload" 
        data-pat-depends="
            condition: hosting-{{ include.source | slugify }}=local; 
            transition: slide" 
        class="
            group 
            object-upload 
            pat-subform 
            pat-autosubmit 
            pat-inject 
            pat-depends"
        data-pat-inject="
            url: /general/apenkooi-state-edit; 
            source: #object-upload; 
            target: #object-upload">
        <legend>{% include patterns/i18n id="label_presentation" %}</legend>
        {% if include.source and include.hosting == 'local' %}
            <figure 
                class="
                    pat-screenshot 
                    allow-interaction">
                <div
                    class="
                        pat-auto-scale 
                        passe-partout"
                    style="{% if include.height %}height: {{ include.height }}px;{% endif %}{% if include.width %}width: {{ include.width }}px;{% endif %}">
                    <object 
                        id="{{ include.source | slugify }}-object" 
                        data="{{ include.source }}"
                        style="{% if include.height %}height: {{ include.height }}px;{% endif %}{% if include.width %}width: {{ include.width }}px;{% endif %}">
                    </object>
                </div>
            </figure>
            <a
                href="/dialogues/cms/object-empty#object-upload"
                data-pat-inject="url: /dialogues/cms/edit-news-item; source: #object-upload; target: #object-upload"
                class="small default pat-button pat-inject"
                type="button">{% include patterns/i18n id="label_remove_presentation_imp" %}</a>
        {% else %}
            <input 
                type="file" 
                name="object">
        {% endif %}
        {% include patterns/form-help.html
            content="message_help_presentation_upload" %}
    </fieldset>    
    <label>
        {% include patterns/i18n id="label_optimal_width_in_pixels" %}
        <input 
            required
            value="{{ include.width | default: '1280' }}"
            type="number" 
            name="">
    </label>   
    <label>
        {% include patterns/i18n id="label_optimal_height_in_pixels" %}
        <input 
            required
            value="{{ include.height | default: '720' }}"
            type="number" 
            name="">
    </label> 
    <fieldset
        class="pat-checklist">
        <!-- <legend>{% include patterns/i18n id="patterns.label_behaviour" %}</legend> -->
        <label>
            {% include patterns/i18n id="patterns.label_allow_interaction" %} 
            <input 
                {% if include.interaction == 'allowed' %}checked{% endif %}
                type="checkbox" 
                name="interaction"></label>
    </fieldset>    
    <label>
        {% include patterns/i18n id="label_caption" %}
        <textarea
            rows="2">{{ include.caption }}</textarea>
    </label>  
</fieldset>
