<fieldset 
    class="horizontal form-panel">
    {% include standard-edit-form-sectors.html %}
    {% include standard-edit-form-healthcare-areas.html %}
    <label>
        ISID
        <input 
            type="text" 
            name="isid">
    </label>
<!--     <label>
        SNOMED
        <input 
            type="text" 
            name="snomed">
    </label> -->
    <fieldset
        class="group">
        <legend>{% include patterns/i18n id="label_status" %}</legend>   
        <fieldset
            class="pat-checklist checkbox">
            <label>
                {% include patterns/i18n id="label_included_in_register" %}
                <input 
                    type="checkbox" 
                    name="register">
            </label>
            <label>
                {% include patterns/i18n id="label_on_long_term_agenda" %}
                <input 
                    type="checkbox" 
                    name="mja">
            </label>
            <label>
                {% include patterns/i18n id="label_in_development" %}
                <input 
                    type="checkbox" 
                    name="kwaliteitsregistratie">
            </label>
        </fieldset>
    </fieldset>
    {% include standard-edit-form-registration-date.html %}
    {% include standard-edit-form-deadline-long-term-agenda.html %}
    {% include standard-edit-form-revision-date.html %}
</fieldset>
