{% assign found_items = false %}

{% for content-type in site.data.content-types %}

    {% for collection in content-type.collection %}

        {% if collection.size >= 1 %}
            {% unless collection.standalone == false %}
                {% assign found_items = true %}
                <h3 
                    class="{{ include.title_class | default: 'portlet-separation-title' }} type-{{ collection.label | replace: '-','_' }}">
                    {% capture this_label %}label_{{ collection.name | replace: '-','_' }}{% endcapture %}
                    <a 
                        href="{{ collection.name }}"
                        class="pat-inject"
                        data-pat-inject="history: record; scroll: #main">{% include patterns/i18n id=collection.i18n %}
                    </a>
                </h3>
                <ul 
                    class="link-list col-{{ include.cols }}">
                    {% for item in site[collection.name] %}
                        {% if item.state == 'Draft' %}
                        {% unless item.url contains '-state-' %}
                            <li 
                                class="state-draft item-{{ item.state | slugify }}">
                                <a 
                                    href="{{ item.url }}" 
                                    class="pat-inject" 
                                    data-pat-inject="history: record; scroll: #main">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endunless %}
                        
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endunless %}
        {% endif %}
    
    {% endfor %}

{% endfor %}

{% for content-type in site.data.prozin.content-types %}

    {% for collection in content-type.collection %}

        {% if collection.size >= 1 %}
            {% assign found_items = true %}
            <h3 
                class="{{ include.title_class | default: 'portlet-separation-title' }} type-{{ collection.label | replace: '-','_' }}">
                {% capture this_label %}label_{{ collection.name | replace: '-','_' }}{% endcapture %}
                <a 
                    href="{{ collection.name }}"
                    class="pat-inject"
                    data-pat-inject="history: record; scroll: #main">{% include patterns/i18n id=collection.i18n %}
                </a>
            </h3>
            <ul 
                class="link-list col-{{ include.cols }}">
                {% for item in site[collection.name] %}
                    {% if item.state == 'Draft' %}
                    {% unless item.url contains '-state-' %}
                        <li 
                            class="state-draft item-{{ item.state | slugify }}">
                            <a 
                                href="{{ item.url }}" 
                                class="pat-inject" 
                                data-pat-inject="history: record; scroll: #main">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endunless %}
                    
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    
    {% endfor %}

{% endfor %}

{% if found_items == false %}
    <p>
        {% include patterns/i18n id="message_all_is_in_review_or_published" %}
    </p>
{% endif %}
