<link 
	rel="apple-touch-icon" 
	href="/assets/favicon/touch-icon.png">
<link 
	rel="icon" 
	type="image/svg+xml" 
	href="/assets/favicon/touch-icon.svg">
<link 
	rel="manifest" 
	href="/assets/favicon/site.webmanifest">
<meta 
	name="msapplication-TileColor" 
	content="#777c00">

{% if layout.app_name == "Image bank" %}
	<meta 
		name="theme-color" 
		content="#a90061" />
{% elsif layout.app_name == "Organisations" %}
	<meta 
		name="theme-color" 
		content="#42145f" />
{% elsif layout.app_name == "User management" %}
	<meta 
		name="theme-color" 
		content="#84710a" />
{% elsif layout.app_name == "Settings" %}
	<meta 
		name="theme-color" 
		content="#444444" />
{% else %}
	<meta 
		name="theme-color" 
		content="#39870c">
{% endif %}

{% if page.image %}
	<meta 
		content="{{ page.image }}" 
		property="og:image">
{% endif %}
{% if page.avatar %}
	<meta 
		content="{{ page.avatar }}" 
		property="og:image">
{% endif %}