<link 
	rel="apple-touch-icon" 
	href="/assets/favicon/touch-icon.png">
<link 
	rel="icon" 
	type="image/svg+xml" 
	href="/assets/favicon/touch-icon.svg">
<link 
	rel="manifest" 
	href="/assets/favicon/site.webmanifest">
<meta 
	name="msapplication-TileColor" 
	content="#777c00">
<meta 
	name="theme-color" 
	content="#39870c">
{% if page.image %}
	<meta 
		content="{{ page.image }}" 
		property="og:image">
{% endif %}
{% if page.avatar %}
	<meta 
		content="{{ page.avatar }}" 
		property="og:image">
{% endif %}