<div 
    class="
        pat-collapsible 
        pat-context-menu 
        filter-menu
        no-label 
        icon-filter 
        closed"
    data-pat-collapsible="
        close-trigger: .context-menu:not(#filters-menu),.close-menu" 
    id="filters-menu">
    <strong 
        class="context-menu-label menu-trigger">Filters</strong>
    <div 
        class="panel-content" >
        <p 
            class="close-menu">Sluit</p>
        <fieldset 
            class="vertical">
            <label>
                Auteur
                <select>
                    <option>Any author</option>
                </select>
            </label>
            <label>
                Workflow state
                <select>
                    <option value="">Any workflow state</option>
                    <option value="">New</option>
                    <option value="">Draft</option>
                    <option value="">For review</option>
                    <option value="">Published</option>
                </select>
            </label>
            <fieldset
                class="group pat-checklist">
                <legend>Status</legend>
                <label>
                    Gearchiveerd
                    <input 
                        type="checkbox"
                        unchecked>
                </label>
            </fieldset>
            </label>
            {% if page.filters %}
                <fieldset 
                    class="pat-checklist"> 
                    <legend>Registratie</legend>                        
                    <label>
                        Toon alleen ATMP's 
                        <input 
                            type="checkbox" 
                            name="reason_new">
                    </label>
                    <label>
                        Laat alleen weesgeneesmiddelen zien 
                        <input 
                            type="checkbox" 
                            name="reason_new">
                    </label>
                </fieldset>
                <label>
                    {% include patterns/i18n id="label_indication" %}
                    <select>
                        <option 
                            value="">Alle indicaties</option>
                        <option 
                            value="">Alvleesklierkanker</option>
                        <option 
                            value="">Blaaskanker</option>
                    </select>
                </label>
                <label>
                    Werkingsmechanisme
                    <select>
                        <option>Willekeurig werkingsmechanisme</option>
                        <option>Onbekend</option>
                        <option>Enzymvervangende therapie</option>
                        <option>PD-1/PD-L1 remmer</option>
                        <option>SGLT-remmer</option>
                        <option>Tyrosine kinase remmer</option>
                        <option>Alkylerend geneesmiddel</option>
                        <option>Allergeen</option>
                        <option>Allogene gemodificeerde celtherapie</option>
                        <option>Aminozuur</option>
                        <option>Anders, zie opmerkingenveld</option>
                        <option>Angiogeneseremmer</option>
                        <option>Anti-androgeen</option>
                        <option>Antibioticum</option>
                        <option>Antihistamine</option>
                        <option>Antilichaam-geneesmiddel conjugaat</option>
                        <option>Antimycoticum</option>
                        <option>Antioxidant</option>
                        <option>Antisense oligonucleotide</option>
                        <option>Antistollingsfactor</option>
                        <option>Autologe gemodificeerde celtherapie</option>
                        <option>Bcl-2 remmer</option>
                        <option>BET remmer</option>
                        <option>Calcineurineremmer</option>
                        <option>Cannabidoïde</option>
                        <option>CAR-T therapie</option>
                        <option>CDK4/6 tyrosine kinaseremmer</option>
                        <option>CFS1R remmer</option>
                        <option>Serine/threonine kinaseremmer</option>
                        <option>Stollingsfactor</option>
                        <option>Trombineremmer</option>
                        <option>Vasodilator</option>
                        <option>Virusremmer</option>    
                    </select>
                </label>
                <label>
                    Bekostigingskader
                    <select>
                        <option>Willekeurig bekostigingskader</option>
                        <option>Onbekend</option>
                        <option>Intramuraal (MSZ)</option>
                        <option>Extramuraal (GVS)</option>
                    </select>
                </label>
                <label>
                    Bijzonderheid
                    <select>
                        <option>Willekeurige bijzonderheid</option>
                        <option>Onbekend</option>
                        <option>Indicatieuitbreiding</option>
                        <option>Nieuwe toedieningsvorm</option>
                        <option>Nieuw geneesmiddel</option>
                        <option>Nieuw geneesmiddel met Priority Medicines (PRIME)</option>
                    </select>
                </label>
                <label>
                    <option>Any sluice status</option>
                    <option>Meets sluice criteria</option>
                    <option>Sluice candidate</option>
                    <option>Included in the sluice</option>
                </select>
                </label>
            {% endif %}
        </fieldset>
    </div>
</div>