<div 
    class="
        pat-collapsible 
        pat-context-menu 
        filter-menu
        no-label 
        icon-filter 
        closed"
    data-pat-collapsible="
        close-trigger: .context-menu:not(#filters-menu),.close-menu" 
    id="filters-menu">
    <strong 
        class="context-menu-label menu-trigger">Filters</strong>
    <div 
        class="panel-content" >
        <p 
            class="close-menu">Sluit</p>
        <fieldset 
            class="vertical">
            <label>
                Auteur
                <select>
                    <option>Any author</option>
                </select>
            </label>
            <label>
                Workflow state
                <select>
                    <option value="">Any workflow state</option>
                    <option value="">New</option>
                    <option value="">Draft</option>
                    <option value="">For review</option>
                    <option value="">Published</option>
                </select>
            </label>
            <fieldset
                class="group pat-checklist">
                <legend>Status</legend>
                <label>
                    Gearchiveerd
                    <input 
                        type="checkbox"
                        unchecked>
                </label>
            </fieldset>
            </label>
            {% if page.filters %}
                {% include medicine-filters.html %}
            {% endif %}
        </fieldset>
    </div>
</div>