<fieldset
    class="group">
    <legend>{% include patterns/i18n id="label_mailing_lists" %}</legend>
    <select
        class="pat-autosuggest"
        multiple 
        required
        name="mailing-lists" 
        id="">
        {% for item in site.mailing-lists %}
            {%- unless item.url contains '-state-' -%}
                <option 
                    value="">{{ item.title }}</option>
            {%- endunless -%}
        {% endfor %}
    </select>
    {% include patterns/form-help.html
            content="message_help_send_news_flash_confirm" %}
</fieldset>