<fieldset 
	class="group">
	<legend>{%- include patterns/i18n id="label_icon" -%}</legend>
	<fieldset 
		class="icon-selector pat-checklist free-form">
		{% for icon in site.data.prozin.icons %}
			<label
				title="{{ icon.title }}"
				class="icon-{{ icon.css }}">
				<input 
					type="radio" 
					name="icon" 
					{% if forloop.first %}checked{% endif %} />
				{{ icon.title }}
			</label>
		{% endfor %}
	</fieldset>
	{% if include.help %}
        {% include patterns/form-help.html
        	content=include.help more=include.help_more %}
    {% endif %}

</fieldset>