<div id="global-nav" class="variation-{{ layout.page_type }} pat-sticky" role="menubar">
    <div class="container">
        {% if page.layout == 'homepage' %}
            <h1 class="assistive">
                {{ site.data.ui.label_site_description[site.lang] }}
            </h1>
        {% endif %}
        <nav id="breadcrumbs">
            <p class="assistive">
                {{ site.data.prozin.ui.message_you_are_here[site.lang] }}
            </p>
            {% if page.layout contains 'homepage' %}
                <a class="homepage">
            {% else %}
                <a class="homepage pat-inject" 
                   data-pat-inject="history: record" href="/">
            {% endif %}
                    {{ site.data.ui.label_site_name[site.lang] }}</a>
            {% if page.title == 'Nieuws' %}
                <a>{{ site.data.prozin.ui.label_news[site.lang] }}</a>
            {% endif %}

            {% if layout.page_type == 'news-item' %}
                <a class="pat-inject" 
                   data-pat-inject="history: record" 
                   href="/news/">{{ site.data.prozin.ui.label_news[site.lang] }}</a>
            {% endif %}

            {% if layout.page_type == 'news' %}
                <a class="pat-inject" 
                   data-pat-inject="history: record" 
                   href="/bladeren-hoofdstuk">{{ site.data.prozin.ui.label_news[site.lang] }}</a>
            {% endif %}
            
            {% if page.url contains 'zoekresultaten' %}
                <a>Zoeken</a>
            {% endif %}

            {% if page.url == '/geneesmiddelen-9-januari-2018' %}
                <a href="/geneesmiddelen" class="pat-inject" data-pat-inject="history: record">{{ site.data.prozin.ui.label_medicines[site.lang] }}</a>
            {% endif %}
            {% if page.url == '/geneesmiddelen-alt' %}
                <a>{{ site.data.prozin.ui.label_medicines[site.lang] }}</a>
            {% endif %}

            {% if page.collection %}
              {% unless page.scope %}
                {% if page.collection == 'editorial' %}
                {% elsif page.collection == 'drafts' %}
                {% elsif page.collection == '' %}
                  <a href="/{{ page.collection }}/" 
                     class="pat-inject" 
                     data-pat-inject="history: record"></a>
                }
                {% else %}
                  <a href="/{{ page.collection }}/" 
                     class="pat-inject" 
                     data-pat-inject="history: record">{{ page.collection | capitalize }}</a>
                {% endif %}
              {% endunless %}
            {% endif %}

            {% if page.parent %}
                {% if page.parent == 'Help' %}
                    <a href="/help" 
                       class="pat-inject" 
                       data-pat-inject="history: record">{{ site.data.prozin.ui.label_help[site.lang] }}</a>
                {% elsif page.parent == 'Beheer' or layout.parent == 'Beheer' %}
                    <a href="/beheer" 
                       class="pat-inject" 
                       data-pat-inject="history: record">{{ site.data.prozin.ui.label_management[site.lang] }}</a>
                {% elsif page.title == 'Beheer' %}
                    <a>{{ site.data.prozin.ui.label_management[site.lang] }}</a>
                {% elsif page.parent == 'Fabrikanten' or layout.parent == 'Fabrikanten' %}
                    <a href="/fabrikanten" 
                       class="pat-inject" 
                       data-pat-inject="history: record">{{ site.data.prozin.ui.label_manufacturers[site.lang] }}</a>
                {% else %}
                     <a href="{% if page.collection == 'editorial' %}/editorial/{% endif %}/{{ page.parent | slugify }}" 
                       class="pat-inject" 
                       data-pat-inject="history: record">{{ page.parent }}</a>
                {% endif %}
            {% endif %}

            {% if page.title == 'Fabrikanten' %}
                <a>{{ site.data.prozin.ui.label_manufacturers[site.lang] }}</a>
            {% endif %}

            {% if page.title == 'Concepten' %}
                <a href="/beheer" 
                   class="pat-inject" 
                   data-pat-inject="history: record">{{ site.data.prozin.ui.label_management[site.lang] }}</a>
                <a>{{ site.data.prozin.ui.label_drafts[site.lang] }}</a>
            {% endif %}

            {% if page.title == 'Volgen' %}
                <a href="/beheer" 
                   class="pat-inject" 
                   data-pat-inject="history: record">{{ site.data.prozin.ui.label_management[site.lang] }}</a>
                <a>{{ site.data.prozin.ui.label_follow[site.lang] }}</a>
            {% endif %}

            {% if page.parent == 'over' %}
                <a href="/over" class="pat-inject" data-pat-inject="history: record">Over Horizonscan Geneesmiddelen</a>
            {% endif %}
            {% if page.title == 'Over Horizonscan Geneesmiddelen' %}
                <a>Over Horizonscan Geneesmiddelen</a>
            {% endif %}
            {% if page.layout == 'medicine-listing' %}
                <a 
                  href="/geneesmiddelen" 
                  class="pat-inject" 
                  data-pat-inject="history: record">{{ site.data.prozin.ui.label_medicines[site.lang] }}</a>
            {% endif %}
            {% if page.layout == 'medicine' or page.layout == 'medicine-compare-versions' %}
                {% if page.state == 'draft' or page.state == 'new' or page.url contains 'incoming' %}
                    <a href="/beheer" 
                       class="pat-inject" 
                       data-pat-inject="history: record">Beheer</a>
                    <a href="/concepten" 
                       class="pat-inject" 
                       data-pat-inject="history: record">Concepten</a>
                {% else %}
                    {% capture this_group %}{{ site.data.prozin.ui[page.domain][site.lang] | slugify }}{% endcapture %}
                    <!-- <a href="/geneesmiddelen" 
                       class="pat-inject" 
                       data-pat-inject="history: record">{{ site.data.prozin.ui.label_medicines[site.lang] }}</a> -->
                    {% if page.domain %}
                      <a href="/{{ this_group }}" 
                         class="pat-inject" 
                         data-pat-inject="history: record">{{ site.data.prozin.ui[page.domain][site.lang] }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if page.url == '/domeinen' %}
                <!-- <a>Werkgroepen</a> -->
            {% endif %}
        </nav>
        {% if site.search_type == 'sheet' %}
          {% include global-search-fk.html %}
        {% else %}
          <form accept-charset="UTF-8" action="/zoekresultaten" id="quick-search-form" method="get" name="quick-search-form" class="pat-form pat-inject" data-pat-inject="history: record">
              <label for="global-search-lemma">{{ site.data.ui.label_search_box_placeholder[site.lang] }}</label>
              <input name="zoekterm" 
                     id="global-search-lemma" 
                     title="{{ site.search_box_placeholder[site.lang] }}" 
                     placeholder="{{ site.data.ui.label_search_box_placeholder[site.lang] }}" 
                     type="text" 
                     value="" />
              <button type="submit">Zoek</button>
          </form>
        {% endif %}
    </div>
</div>