<title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.ui.label_site_name[site.lang] }}{% endif %}</title>
<meta 
    content="{{ page.summary }}" 
    name="description">
<meta 
    content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.ui.label_site_name[site.lang] }}{% endif %}" 
    property="og:title">
{% if page.image %}
    <meta 
        content="{{ page.image }}" 
        property="og:image">
{% else %}
    <meta 
        content="/assets/favicon/touch-icon.png" 
        property="og:image">
{% endif %}
<meta 
    content="{{ page.summary }}" 
    property="og:description">