{% if page.summary %}
	{% assign this_summary = page.summary %}
{% elsif page.layout == 'prozin/homepage' %}
	{% assign this_summary = site.data.ui.label_site_description %}
{% endif %}

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.ui.label_site_name[site.lang] }}{% endif %}</title>
<meta 
    content="{{ this_summary }}" 
    name="description">
<meta 
    content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.ui.label_site_name[site.lang] }}{% endif %}" 
    property="og:title">
{% if page.image %}
    <meta 
        content="{{ page.image }}" 
        property="og:image">
{% else %}
    <meta 
        content="/assets/favicon/touch-icon.png" 
        property="og:image">
{% endif %}
<meta 
    content="{{ this_summary }}" 
    property="og:description">