{% if page.summary %}
	{% assign this_description = page.summary %}
{% elsif page.layout == 'prozin/homepage' %}
	{% assign this_description = site.data.ui.label_site_description[site.lang] %}
{% endif %}

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.ui.label_site_name[site.lang] }}{% endif %}</title>
<meta 
    content="{{ this_description }}" 
    name="description">
<meta 
    content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.ui.label_site_name[site.lang] }}{% endif %}" 
    property="og:title">
{% if page.image %}
    <meta 
        content="{{ page.image }}" 
        property="og:image">
{% else %}
    <meta 
        content="/assets/favicon/touch-icon.png" 
        property="og:image">
{% endif %}
<meta 
    content="{{ this_description }}" 
    property="og:description">