<fieldset 
    class="horizontal pat-inject pat-subform"
    data-pat-inject="">
    {% assign organisations = site.data.organisations | sort: 'name' %}
    <label>
        Name
        {% if page.organisation_type == 'Beheerorganisatie' %}
            <input
                class="pat-autosuggest" 
                type="text" 
                required
                name=""
                placeholder="Enter or select an organisation name"
                data-pat-autosuggest="allow-new-words: true; max-selection-size: 1; ajax-search-index: text; words: {% for item in organisations %}{{ item.name }}{% unless forloop.last %},{% endunless %}{% endfor %};"/>
        {% else %}
            <input
                type="text" 
                required\
                value="{{ page.organisation }}"
                name="" />
        {% endif %}
    </label>
    <label>
        Type
        <select
            name="organisation_type"
            {% unless page.organisation_type == 'Beheerorganisatie' %}
            disabled
            {% endunless %}>
            <option>Niet gedefinieerd</option>
            <option>Beheerorganisatie</option>
            <option
                value="consulent">Consulent</option>
            <option
                value="fabrikant">Fabrikant</option>
            <option>Gegevensmakelaar</option>
            <option>Werkgroep</option>
            <option
                value="zorginstelling">Zorginstelling</option>
        </select>
    </label>
    <div 
        class="group">
        <legend>Address</legend>
        <div 
            class="field-cluster layout-address-line-nl"> 
            <label
                class="street">
                Straatnaam
                <input 
                    type="text" 
                    name="street"
                    placeholder="Straatnaam">
            </label>
            <label
                class="house-number">
                Huisnummer
                <input 
                    placeholder="Nummer" 
                    type="number" 
                    name="house-number">
            </label>
            <label
                class="house-number-suffix">
                Toevoeging
                <input 
                    placeholder="Toev." 
                    type="text" 
                    name="suffix">
            </label>
        </div>
    </div>
    <div 
        class="group">
        <div 
            class="field-cluster layout-postal-code-place-line-nl"> 
            <label>
                Postcode
                <input 
                    class="postal-code" 
                    type="text" 
                    maxlength="7"
                    placeholder="Postcode">
            </label>
            <label>
                Plaats
                <input 
                    class="place" 
                    type="text"
                    placeholder="Plaats">
            </label>
        </div>
    </div>
    <label>
        KvK
        <input 
            type="number" 
            maxlength="8">
    </label>
    <label
        class="pat-depends"
        data-pat-depends="condition: organisation_type=zorginstelling; transition: slide">
        AGB-code
        <input 
            value="{{ item.abg }}"
            type="number" 
            name="">
    </label>
    {% if page.organisation_type == 'Beheerorganisatie' %}
        <!-- <label
            class="pat-depends"
            data-pat-depends="condition: organisation_type=consulent; transition: slide">
            Voor fabrikant
            <select>
                <option>
                    Geen fabrikant geselecteerd
                </option> 
                {% for item in site.data.organisations %}
                    {% if item.type == 'Fabrikant' %}
                        <option>{{ item.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label> -->
    {% endif %}
    <label
        class="pat-depends"
        data-pat-depends="condition: organisation_type=fabrikant; transition: slide">
        Default consulent
        <select>
            <option>
                Geen default consulent geselecteerd
            </option>
            <option>
                Zelfde als fabrikant
            </option>                
            <optgroup
                label="Consulenten"> 
                {% for item in site.data.organisations %}
                    {% if item.type == 'Consulent' %}
                        <option>{{ item.name }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
        </select>
    </label>
</fieldset>
<fieldset 
    id="locations" 
    class="">
    <div 
        class="locations pat-clone horizontal"
        data-pat-clone="template: #location-template; trigger-element: #clone-location; remove-confirmation: Weet u zeker dat u deze vestiging wilt verwijderen?">
        {% for item in page.locations %}
            {% include prozin/organisation-location.html %}
        {% endfor %}  
    </div>
    <template 
        id="location-template">
        {% include prozin/organisation-location.html %}
    </template>
    <div
        class="button-bar group cloning">
        <button
            class="add-clone pat-button icon-plus-circle"
            id="clone-location"
            title="Voeg een vestiging toe"
            type="button">Vestiging</button>
    </div>
</fieldset>
<fieldset 
    class="horizontal">
    <label>
        Contactpersoon
        <select>
            <option>
                {{ site.data.prozin.ui.label_contact_person_not_selected[site.lang] }}
            </option>
            {% for item in site.data.personae %}
                {% assign this_persona = item[1] %}
                <option>
                    {{ this_persona.first_name }} {{ this_persona.last_name }} &lt;{{ this_persona.email }}&gt;
                </option>
            {% endfor %}
        </select>
    </label>
    {% include prozin/field-administrator %}
    </label>
    <!-- <label>
        Active users
        <input 
            class="pat-autosuggest users"
            data-pat-autosuggest="words: {% for item in site.data.personae %}{% assign this_persona = item[1] %}{{ this_persona.first_name }} {{ this_persona.last_name }} &lt;{{ this_persona.email }}&gt;{% if forloop.last %}{% else %},{% endif %}{% endfor %}; allow-new-words: false"
            type="text" 
            placeholder="Selecteer gebruikers" 
            name="users">
    </label> -->
</fieldset>