<div 
	id="page-head" 
	class="pat-rich">
	<h1 {% if include.icon %}class="icon-{{ include.icon }}"{% endif %}>
		{{ page.title }}
	</h1>	
	{% if include.byline %}
		<p 
			class="byline">
			{% if page.layout == 'quality-standard' %}
				<span 
					class="byline-item">Kwaliteitsstandaard</span>
			{% elsif page.layout == 'quality-registration' %}
				<span 
					class="byline-item">{% include patterns/i18n id="label_quality_registration" %}</span>
			{% elsif page.layout == 'measuring-instrument' %}
				<span 
					class="byline-item">Meetinstrument</span>
			{% elsif page.layout == 'tool' %}
				<span 
					class="byline-item">{% include patterns/i18n id="label_development_tool" %}</span>
			{% elsif page.layout == 'prozin/image' %}
				<span 
					class="byline-item">Afbeelding</span>
			{% elsif page.layout == 'prozin/news-item' %}
				<span 
					class="byline-item">Nieuwsbericht</span>	
			{% elsif page.layout == 'component' %}
				<span 
					class="byline-item">Component</span>	
			{% elsif page.layout == 'page-type' %}
				<span 
					class="byline-item">Paginatype</span>		
			{% elsif page.layout == 'dialogue' %}
				<span 
					class="byline-item">Dialoog</span>		
			{% elsif page.layout == 'persona' %}
				<span 
					class="byline-item">Persona</span>
			{% elsif page.layout == 'release-notes' %}
				<span 
					class="byline-item">Release</span>
			{% elsif page.layout == 'prozin/glossary-term' %}
				<span class="byline-item">{% include patterns/i18n id="label_concept" %}</span>
			{% elsif page.layout == 'medicine' %}
				<span 
					class="byline-item">{% include patterns/i18n id="label_medicine" %}</span>
			{% elsif page.layout == 'medicine-group' %}
				<span 
					class="byline-item">{% include patterns/i18n id="label_medicine_group" %}</span>
			{% elsif page.layout == 'prozin/mailing-list' %}
				<span 
					class="byline-item">{% include patterns/i18n id="label_mailing_list" %}</span>
			{% elsif page.layout == 'prozin/news-flash' %}
				<span 
					class="byline-item">{% include patterns/i18n id="label_news_flash" %}</span>
			{% elsif page.layout == 'prozin/periodical' %}
				<span 
					class="byline-item">{% include patterns/i18n id="label_periodical" %}</span>
			{% endif %}
			{% for group in page.medicine_groups %}
				<span 
					class="byline-item medicine-groups pat-inject"
					data-pat-inject="history: record; scroll: #main">
		            <a 
						class="pat-inject"
						data-pat-inject="history: record; scroll: #main"
		            	href="/medicine-groups/{{ group.name | slugify }}">{{ group.name }}</a>{% if forloop.last == false %},{% endif %}
	            </span>
	        {% endfor %}
	        {% if page.atc %}
	        	<span 
	        		class="byline-item atc">{{ page.atc }}</span>
	        {% endif %}
			{% if include.byline contains 'pub-date' %}
				<span 
					title="{% include patterns/i18n id='label_publication_date' %}" 
					class="byline-item">
					<time 
						datetime="{{ page.date | date: "%Y-%m-%dT%H:%M" }}Z">{{ page.date | date: "%-d %B %Y" | default: '21 februari 2023' }}</time>
				</span>
			{% endif %}
			{% if include.byline contains 'medical-field' %}
				{% if page.medical_field %}
					<span class="byline-item">{{ page.medical_field }}</span>
				{% endif %}
			{% endif %}
			{% if include.byline contains 'author' %}
				{% if page.author %}
					<span 
						class="byline-item">{{ page.author }}</span>
				{% endif %}
			{% endif %}
			{% if include.byline contains 'tags' %}
				<span class="byline-item">
					{% for tag in page.tags %}
						<a href="/tags/{{ tag | downcase | replace: ' ', '-' }}" class="icon-tag">{{ tag }}</a>
					{% endfor %}
				</span>
			{% endif %}
		</p>		
	{% endif %}
<!-- 	{% if page.hero %}
		<div 
			class="hero">
			<figure>
				<img 
					src="{{ page.hero }}" alt="" />
			</figure>
		</div>
	{% endif %}  -->
	{% if page.summary %}
		<div 
			class="introduction" 
			id="page-intro">
	        <p>
	            {{ page.summary }}
	        </p>
	    </div>
	{% endif %}	
</div>