{%- capture portlet_id -%}{{ portlet.id | remove: 'prozin/' }}{%- endcapture -%}
<div 
    class="portlet span-{{ portlet.span }}" 
    id="{{ portlet_id }}">
    <div 
        {% if portlet.span != 1 %}
            data-pat-collapsible="
                trigger: #{{ portlet_id }}-collapse-button; 
                store: local; 
                scroll-selector: self; 
                scroll-offset: 120px"
        {% endif %}
        id="{{ portlet_id }}-content"
        class="content {% if portlet.span != 1 %}pat-collapsible{% endif %}">
        <article 
            class="portlet-intro">
            <header 
                class="portlet-title-group">
                <h2 
                    class="portlet-title">
                    <a 
                        class="pat-inject"
                        data-pat-inject="scroll: #main; history: record" 
                        href="/dialogues/personal/bookmarks">{{ site.data.prozin.ui.label_bookmarks[site.data.config.lang] }}</a>
                </h2>
                {% if portlet.span != 1 %}
                    <div 
                        class="buttons">
                        <button
                            class="button collapse-button"
                            id="{{ portlet_id }}-collapse-button">Open/Close</button>
                    </div>
                {% endif %}
            </header>
        </article>
        <div 
            class="portlet-body panel-content"> 
            {% capture this_url %}/{{ section }}{% endcapture %}
            {% capture this_label %}label_{{ section | replace: '-','_' }}{% endcapture %}
            {% include prozin/bookmarked-list.html 
                cols="3"
                url=this_url
                label=this_label
                collection=section %}        
        </div>
    </div>
</div>