{% unless include.form == false %}
<form 
    action="/dialogues/personal/avatar-upload-cornelis.html#avatar-upload" 
    class="pat-autosubmit pat-inject">
{% endunless %}
    <label 
        id="avatar-upload" 
        class="image-uploader {% if include.form == false %}pat-autosubmit pat-subform pat-inject{% endif %}" 
        {% if include.form == false %}data-pat-inject="source: #avatar-upload; target: #avatar-upload; url: /dialogues/personal/avatar-upload-cornelis.html#avatar-upload"{% endif %}
        title="Laad een foto van uzelf op">
      {% if include.editable == true %}
        <img 
            src="/media/users/{{ site.data.prozin.personae[site.data.config.persona].first_name | slugify }}-{{ site.data.prozin.personae[site.data.config.persona].last_name | slugify }}.jpg"
            class="user-image">
        <span 
            class="pat-button upload-button">{{ site.data.prozin.ui.label_replace_photo[site.data.config.lang] }}</span>
        <input
            type="file" 
            name="hero"
            accept="image" /> 
        <button 
            type="submit" 
            class="icon-trash image-upload-remove-button" 
            name="image-uploader-remove" 
            formaction="/dialogues/personal/avatar-upload.html#avatar-upload"
            title="Verwijder deze afbeelding">{{ site.data.prozin.ui.label_remove[site.data.config.lang] }}</button>  
      {% else %}
        <img 
            src="/media/users/{{ site.data.prozin.personae[page.persona].first_name | slugify }}-{{ site.data.prozin.personae[page.persona].last_name | slugify }}.jpg"
            class="user-image">
      {% endif %}
    </label>
{% unless include.form == false %}
</form>
{% endunless %}