<div 
    class="page-module">
    <dl 
        class="pat-grid-list">
        {% if page.status %}
            <dt>{% include patterns/i18n id="label_status" %}</dt>
            <dd>
                <a 
                    href="#info-status"
                    class="pat-tooltip info-button iconified"
                    data-pat-tooltip="trigger: click; position-list: tl; source: ajax; class: rich info">{% include patterns/i18n id="label_information" %}
                </a>
                <ul
                    class="iconed-list">
                    {% if page.status_register == true %}
                        <li
                            class="icon-ok-circle">
                            {% include patterns/i18n id="label_included_in_register" %}
                        </li>
                    {% endif %}
                    {% if page.status_mja == true %}
                        <li
                            class="icon-ok-circle">
                            {% include patterns/i18n id="label_on_long_term_agenda" %}
                        </li>
                    {% endif %}
                    {% if page.status_wegiz == true %}
                        <li
                            class="icon-ok-circle">
                            {% include patterns/i18n id="label_prio_wegiz" %}
                        </li>
                    {% endif %}
                    {% if page.status_amvb == true %}
                        <li
                            class="icon-ok-circle">
                            {% include patterns/i18n id="label_amvb_wegiz" %}
                        </li>
                    {% endif %}
                </ul>
                <div 
                    hidden
                    id="info-status">
                    {% if page.status_register == true %}
                        <h3>
                            {% include patterns/i18n id="label_register" %}
                        </h3>
                        <p>
                            Lorem ipsum dolor sit, enzovoort.
                        </p>
                    {% endif %}
                    {% if page.status_mja == true %}
                        <h3>
                            {% include patterns/i18n id="label_long_term_agenda" %}
                        </h3>
                        <p>
                            Prioriteitenlijst van te ontwikkelen kwaliteitsinstrumenten. Waar wordt een kwaliteitsinstrument voor ontwikkeld en wanneer moet het af zijn.
                            <a 
                                class="pat-inject"
                                data-pat-inject="history: record; scroll: #main" 
                                href="#">{% include patterns/i18n id="label_read_more" %}</a>
                        </p>
                    {% endif %}
                    {% if page.status_wegiz == true %}
                        <h3>
                            {% include patterns/i18n id="label_wegiz" %}
                        </h3>
                        <p>
                            Het voorstel regelt dat zorgverleners kunnen worden verplicht om bepaalde gegevens (ten minste) elektronisch uit te wisselen, zolang daarvoor een grondslag bestaat (zoals toestemming van de patiënt). Ook kunnen eisen worden gesteld aan de taal die bij de gegevensuitwisseling wordt gebruikt, zodat zorgverleners elkaar meteen kunnen begrijpen. Ten slotte kunnen eisen worden gesteld aan de techniek waarmee gegevens worden uitgewisseld, zodat de gegevensuitwisseling niet wordt bemoeilijkt doordat zorgaanbieders verschillende informatiesystemen gebruiken.
                        </p>
                    {% endif %}
                    {% if page.status_amvb == true %}
                        <h3>
                            {% include patterns/i18n id="label_amvb" %}
                        </h3>
                        <p>
                            Lorem ipsum dolor sit.
                        </p>
                    {% endif %}
                </div>
            </dd>
        {% endif %}

        <dt>Opgenomen in het Register</dt>
        <dd>
            <time 
                datetime="{{ page.date | date: "%Y-%m-%dT%H:%M" }}Z">{{ page.date | date: "%-d %B %Y" }}</time>
        </dd>

        {% if page.revision_date %}
            <dt>Herzieningsdatum</dt>
            <dd>
                <time 
                    datetime="{{ page.revision_date | date: "%Y-%m-%dT%H:%M" }}Z">{{ page.revision_date | date: "%-d %B %Y" }}</time>
            </dd>
        {% endif %}

        {% if page.expected_publication %}
            <dt>Uiterste datum oplevering (Meerjarenagenda)</dt>
            <dd>
                <time 
                    datetime="{{ page.expected_publication | date: "%Y-%m-%dT%H:%M" }}Z">{{ page.expected_publication | date: "%-d %B %Y" }}</time>
            </dd>
        {% endif %}

        {% if page.contact_person %}
            <dt>Contactpersoon</dt>
            <dd>
                {{ page.contact_person }}
            </dd>
        {% endif %}

        {% if page.website_quality_registration %}
            <dt>Website kwaliteitsregistratie</dt>
            <dd>
                <a 
                    href="{{ page.website_quality_registration }}">{{ page.website_quality_registration }}</a>
            </dd>
        {% endif %}

        {% if page.related %}
            <dt>Gerelateerd</dt>
            <dd>
                <ul 
                    class="link-list">
                    {% for link in page.related %}
                        <li>
                            <a 
                                href="/{{ link.url }}" 
                                data-pat-inject="history: record; scroll: #main"
                                class="pat-inject {{ link.class }}">{{ link.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
    </dl>

    {% if page.status_development == true %}
        <p 
            class="pat-message notice">
            {{ site.data.prozin.ui.message_quality_instrument_in_development[site.data.config.lang] }}
        </p>
    {% endif %}
</div>