<dl 
    class="pat-grid-list">
    {% if page.persona %}
        <dt>{% include patterns/i18n id="label_personas" %}</dt>
        <dd>
            <ul
                class="link-list">
                {% for item in page.persona %}
                    <li>
                        <a 
                            href="/personas/{{ item.name | slugify }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </dd>
    {% endif %}
    {% if page.revision_date %}
        <dt>Herzieningsdatum</dt>
        <dd>
            <time 
                datetime="{{ page.revision_date | date: "%Y-%m-%dT%H:%M" }}Z">{{ page.revision_date | date: "%-d %B %Y" }}</time>
        </dd>
    {% endif %}

    {% if page.breadcrumbs_public %}
        <dt>Kruimelpad publiek</dt>
        <dd>{{ page.breadcrumbs_public }}</dd>
    {% endif %}

    {% if page.breadcrumbs_admin %}
        <dt>Kruimelpad beheer</dt>
        <dd>{{ page.breadcrumbs_admin }}</dd>
    {% endif %}

    {% if page.url_structure %}
        <dt>Url</dt>
        <dd>{{ page.url_structure }}</dd>
    {% endif %}

    <dt>{% include patterns/i18n id="label_product" %}</dt>
    <dd>
        {% if page.product %}
            {% capture this_title %}label_product_{{ page.product }}{% endcapture %}
            {% include patterns/i18n id=this_title %}
        {% else %}
            {% include patterns/i18n id="label_all_prozin_products" %}
        {% endif %}
    </dd>
</dl>
