{% if include.section_id %}
    {% capture this_id %}{{ include.section_id }}{% endcapture %}
{% else %}
    {% capture this_id %}{{ page.title | slugify }}-{{ include.title | slugify }}{% endcapture %}
{% endif %}

{% if include.type == 'see-also' %}
    {% capture this_title %}{% include patterns/i18n id="label_see_also" %}{% endcapture %}
{% else %}
    {% assign this_title = include.title %}
{% endif %}

<div 
    id="{{ this_id }}"
    {% if include.collapsible %}
        data-pat-collapsible="
            store: local; 
            scroll-selector: self; 
            scroll-offset: 120px;
            open-trigger: .expand-all-sections; 
            close-trigger: .collapse-all-sections;"
    {% endif %}
    class="
        page-module 
        type-{{ include.type }} 
        {% if include.collapsible %}pat-collapsible borderless {% if include.collapsible_state == 'open' %}open{% else %}closed{% endif %}{% endif %}">
    {% if include.title %}
        <h2
            class="page-module-title {% unless include.link -%}{%- if include.icon -%}icon-{{ include.icon }}{%- endif -%}{%- endunless -%}">
            {%- if include.link -%}
                <a 
                    class="pat-inject {%- if include.icon -%}icon-{{ include.icon }}{%- endif -%}"
                    data-pat-inject="
                        history: record;
                        scroll: #main"
                    href="{{ include.link }}">
                    {%- if include.title contains 'label_' -%}
                        {% include patterns/i18n id=include.title %}
                    {%- else -%}
                        {{ this_title }}
                    {%- endif -%}
                </a>
            {%- else -%}
                {%- if include.title contains 'label_' -%}
                    {% include patterns/i18n id=include.title %}
                {%- else -%}
                    {{ this_title }}
                {%- endif -%}
            {%- endif -%}
        </h2>
    {% endif %}
    {% assign section_type = include.type %}
    {% include prozin/section-{{section_type}}.html
        content=include.content
        video=include.video
        transcript=include.transcript
        transcript_link=include.transcript_link
        involved_parties=include.involved_parties
        poster=include.poster
        caption=include.caption
        image=include.image
        height=include.height
        width=include.width
        source=include.source
        interaction=include.interaction
        enlarge=include.enlarge
         %}
</div>