
<ul 
    class="link-list">
    {% if page.medicine_groups %}
        {% for item in page.medicine_groups %}
            <li>
                <a 
                    href="{{ item.url }}" 
                    class="type-medicine-group pat-inject" 
                    data-pat-inject="history: record; scroll: #main"
                    {% if item.summary %}title="{{ item.summary }}"{% endif %}>
                    <h4 
                        class="link-title">
                        {{ item.title }}
                    </h4>
                    {% if item.summary %}
                        <p 
                            class="link-byline">
                            Geneesmiddelgroep
                        </p>
                    {% endif %}
                </a>
            </li>  
        {% endfor %}
    {% endif %}
    {% if page.indications %}
        {% for item in page.indications %}
            <li>
                <a 
                    href="{{ item.url }}" 
                    class="type-medicine-group pat-inject" 
                    data-pat-inject="history: record; scroll: #main"
                    {% if item.summary %}title="{{ item.summary }}"{% endif %}>
                    <h4 
                        class="link-title">
                        {{ item.title }}
                    </h4>
                    {% if item.summary %}
                        <p 
                            class="link-byline">
                            Indicatie
                        </p>
                    {% endif %}
                </a>
            </li>  
        {% endfor %}
    {% endif %}
    {% for item in page.links %}
        {% if item.group %}
            {% assign this_group = item.group %}
        {% endif %}
        {% for item in item.items %}
            <li>
                <a 
                    href="{{ item.url }}" 
                    class="{% unless item.type == 'link-external' %}pat-inject{% else %}type-link-external{% endunless %}" 
                    {% unless item.type == 'link-external' %}data-pat-inject="history: record; scroll: #main"
                        {% if item.summary %}title="{{ item.summary }}"{% endif %}
                    {% endunless %} 
                    >
                    <h4 
                        class="link-title">
                        {{ item.title }}
                    </h4>
                    <p 
                        class="link-byline">
                        {% if item.summary %}
                            {{ item.summary }}
                        {% else %}
                            {{ item.byline }}
                        {% endif %}
                    </p>
                </a>
            </li>  
        {% endfor %}
    {% endfor %}
    {% for tag in page.tags %}
        <li>
            <a 
                href="/tags/{{ tag | slugify }}" 
                class="pat-inject" 
                data-pat-inject="history: record; scroll: #main">
                <h4 
                    class="link-title">
                    {{ tag }}
                </h4>
                    <p 
                        class="link-byline">
                        Tag
                    </p>
            </a>
        </li>  
    {% endfor %}
</ul>