{% if page.summary %}
    <div 
        class="pat-rich">
        <p 
            class="summary">
            {{ page.summary }}
            <a 
                href="{{ page.url }}" 
                class="pat-inject" 
                data-pat-inject="history: record; scroll: #main">Lees meer…</a>
        </p>
    </div>
{% endif %}
<ul 
    class="link-list col-3">
    {% for item in page.medicines %}
        {% unless item.url contains '-state-' %}
            <li>
                <a 
                    href="/medicines/{{ item.verwijzing }}" 
                    class="medicine pat-inject" 
                    title="{{ item.summary }}"
                    data-pat-inject="history: record; scroll: #main">{{ item.name }}</a>
            </li>
        {% endunless %}
    {% endfor %}
</ul>