{% if page.current_version %}
    <div 
        class="page-module type-current-version">
        <h2 
            class="page-module-title">
            Actuele versie
        </h2>
<!--                <ul class="link-list">
            {% for item in page.current_version %}
                <li>
                    <a class="icon-3945-link" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul> -->
        {% for item in page.current_version %}
            <a 
                class="link-tile" 
                href="{{ item.url }}">
                <h2 class="title">
                    {{ item.title }}
                </h2>
                <p 
                    class="meta link">
                    {% if item.url %}
                        {{ item.url }}
                    {% else %}
                        http://www.some-external-source.com
                    {% endif %}
                </p>
            </a>
        {% endfor %}
    </div>
{% endif %}