{% if page.current_version %}
    <div 
        class="page-module type-current-version">
        <h2 
            class="page-module-title">
            Actuele versie
        </h2>
        <div 
            class="pat-rich">
            <p>
                {% include patterns/i18n id="message_measuring_instrument_current_version" %}
            </p>
        </div>
<!--                <ul class="link-list">
            {% for item in page.current_version %}
                <li>
                    <a class="icon-3945-link" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul> -->
        {% for item in page.current_version %}
            <a 
                class="link-tile" 
                href="{{ item.url }}">
                <h2 
                    class="title">{{ item.title }}</h2>
                {% if item.summary %}
                    <p 
                        class="meta link">
                        {{ item.summary }}
                    </p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}