<figure 
    class="pat-screenshot  {% if include.interaction == 'allowed' %}allow-interaction{% endif %}">
    {% if include.enlarge == 'modal' %}
        <a
            href="/feedback/presentatie#document-content" 
            data-pat-modal="class: large object panel"
            title="Bekijk de presentatie fullscreen"
            class="pat-modal enlarge-button">Bekijk de presentatie fullscreen</a>
    {% endif %}
    <div
        class="pat-auto-scale passe-partout"
        style="{% if include.height %}height: {{ include.height }};{% endif %}{% if include.width %}width: {{ include.width }};{% endif %}">
        <object 
            id="{{ include.source | slugify }}-object" 
            data="{{ include.source }}"
            style="{% if include.height %}height: {{ include.height }};{% endif %}{% if include.width %}width: {{ include.width }};{% endif %}">
        </object>
    </div>
    <figcaption>
        {{ include.caption }}
        {% if include.enlarge == 'modal' %}
            <a
                href="/feedback/presentatie#document-content" 
                data-pat-modal="class: large object panel"
                class="pat-modal enlarge-link icon-right-dir">Bekijk de presentatie</a>
        {% else %}
            <a
                data-pat-fullscreen="selector:#{{ include.source | slugify }}-object"
                class="pat-fullscreen enlarge-link icon-resize-full">Bekijk fullscreen</a>
        {% endif %}
    </figcaption>
</figure>