<h3 
    class="form-section-header">
    {% include patterns/i18n id="label_swim_lane_hero" %}
</h3>
{% include prozin/form-field-image.html 
    label="label_hero_image" %}
<label>
    {% include patterns/i18n id="label_directly_to" %}
    <input 
        class="pat-autosuggest"
        required
        name="mi"
        type="text"
        placeholder="Selecteer maximaal 5 pagina's" 
        data-pat-autosuggest='
            allow-new-words: false;  
            ajax-search-index: text;
            maximum-selection-size: 5; 
            ajax-url: /dialogues/cms/content-items-with-path.json;' />
    {% include patterns/form-help.html
        position-list="bl tl"
        content="message_help_directly_to" %}
</label>
<label>
    {% include patterns/i18n id="label_survey_url" %}
    <input 
        type="url" 
        placeholder="https://www…" 
        name="">
    {% include patterns/form-help.html
        content="message_help_promo_url" %}
</label>
<label>
    {% include patterns/i18n id="label_breaking_news" %}
    <select
        class="pat-autosuggest">
        <option>{% include patterns/i18n id="label_no_breaking_news" %}</option>
        {% for item in site.news %}
            <option>{{ item.title }}</option>
        {% endfor %}
    </select>
    {% include patterns/form-help.html
        content="message_help_breaking_news" %}
</label>