<div id="site-header">
    <a class="homepage" href="/" title="Terug naar homepage"><span class="ro-serif dept">{{ site.data.prozin.ui.label_organisation_name[site.data.config.lang] }}</span></a>

    {% if site.last_modified %}
      <!-- Date of latest publication -->
      <p 
          class="date-modified">
          Bijgewerkt tot <time>{{ site.last_modified | date: "%-d %B %Y" }}</time>
      </p>
    {% endif %}

    {% if site.data.prozin.personae[site.data.config.persona]role == 'Manufacturer' %}
        {% assign dashboard_url = '/manage/' %}
    {% elsif site.data.prozin.personae[site.data.config.persona]role == 'Bystander' %}
        {% assign dashboard_url = '/beheer-lezer' %}
    {% elsif site.data.prozin.personae[site.data.config.persona]role == 'Workgroup-member' %}
        {% assign dashboard_url = '/beheer-werkgroeplid' %}
    {% else %}
        {% assign dashboard_url = '/beheer' %}
    {% endif %}

    {% unless site.global_functions == false %}
      <div 
        id="global-functions">
          {% if site.user == 'anonymous' %}
              <a 
                  href="/login" 
                  id="login">{{ site.data.prozin.ui.label_login[site.data.config.lang] }}</a>
          {% elsif page.url == '/login' %}
             <a 
                      href="/login" 
                      id="login">{{ site.data.prozin.ui.label_login[site.data.config.lang] }}</a>
          {% else %}
  <!--             
              <a 
                  href="{{ dashboard_url }}"
                  class="icon-dashboard pat-inject"
                  data-pat-inject="history: record; scroll: #main">{% include patterns/i18n id="label_management" %}</a> 
  -->
              <a  
                  id="login">{{ site.data.prozin.ui.label_logged_in_as[site.data.config.lang] }} {{ site.data.prozin.personae[site.data.config.persona]first_name }} {{ site.data.prozin.personae[site.data.config.persona]last_name }}</a>
          {% endif %}
      </div>
      <div 
          id="login-menu" 
          hidden>
      	<ul 
            class="menu">
              {% unless site.user == 'anonymous' %}
                  <li>
                      <a href="/users/{{ site.data.prozin.personae[site.data.config.persona]first_name | slugify }}-{{ site.data.prozin.personae[site.data.config.persona]last_name | slugify }}" 
                         class="pat-inject icon-user" 
                         data-pat-inject="history: record; scroll: #main">{{ site.data.prozin.ui.label_my_profile[site.data.config.lang] }}</a>
                  </li>
                  <li>
                    <a href="/dialogues/personal/bookmarks" 
                       class="icon-bookmark pat-inject" 
                       data-pat-inject="history: record; scroll: #main">{{ site.data.prozin.ui.label_bookmarks[site.data.config.lang] }}</a>
                  </li>
                  <li>
                      <a href="/dialogues/personal/preferences" 
                         class="pat-inject icon-cog" 
                         data-pat-inject="history: record; scroll: #main">{{ site.data.prozin.ui.label_preferences[site.data.config.lang] }}</a>
                  </li>
              {% endunless %}
      		<li>
      			<a href="/dialogues/login/password-change" 
                     class="icon-key pat-inject" 
                     data-pat-inject="history: record; scroll: #main">{{ site.data.prozin.ui.label_change_password[site.data.config.lang] }}</a>
      		</li>
      		<li>
      			<form 
                    class="pat-inject" 
                    data-pat-inject="history: record; scroll: #main"
                    action="/dialogues/login/">
      				<button 
                        type="submit" 
                        class="icon-exit" >{{ site.data.prozin.ui.label_log_out[site.data.config.lang] }}</button>
      			</form>
      		</li>
      	</ul>
      </div>
    {% endunless %}
</div>