<div 
    class="do-not-print" 
    id="footer">
    <div 
        class="container">
        <blockquote 
            class="seven columns payoff">
            {{ site.data.ui.label_site_ankeiler[site.data.config.lang] }}
        </blockquote>
        <div 
            class="column">
            <h2>
                {{ site.data.prozin.ui.label_service[site.data.config.lang] }}
            </h2>
            <ul 
                class="links">
                <li>
                    <a 
                        class="pat-inject" 
                        data-pat-inject="
                            history: record; 
                            scroll: #main"
                        href="/contact">Contact</a>
                </li>
                <li>
                    <a 
                        class="pat-inject" 
                        data-pat-inject="
                            history: record; 
                            scroll: #main" 
                        href="/concepts/">{% include patterns/i18n id="label_glossary" %}</a>
                </li>
                <li>
                    <a 
                        class="pat-inject" 
                        data-pat-inject="
                            history: record; 
                            scroll: #main"
                        href="/dialogues/newsletter/subscribe">{% include patterns/i18n id="label_newsletter" %}</a>
                </li>
                <li>
                    <a 
                        class="pat-inject" 
                        data-pat-inject="
                            history: record; 
                            scroll: #main"
                        href="/newsletters/">{% include patterns/i18n id="label_newsletter_archive" %}</a>
                </li>
                {% capture this_scope %}{{ page.service }}{% endcapture %}
                {% for item in site[this_scope] %}
                    {% if item.parent == 'service' or item.parent == 'Service' %}
                        <li>
                            <a 
                                href="{{ item.url }}"
                                class="pat-inject"
                                data-pat-inject="
                                    history: record; 
                                    scroll: #main">{{ item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for item in site.data.footer_service %}
                    <li>
                        <a 
                            href="{{ item.url }}"
                            class="pat-inject"
                            data-pat-inject="
                                history: record; 
                                scroll: #main">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div 
            class="column">
            <h2>
                {{ site.data.prozin.ui.label_about_this_site[site.data.config.lang] }}
            </h2>
            <ul 
                class="links">
                <li>
                    <a 
                        data-pat-inject="history: record; scroll: #main"
                        class="pat-inject"
                        href="/proclaimer">Proclaimer</a>
                </li>
                <li>
                    <a 
                        data-pat-inject="history: record; scroll: #main"
                        class="pat-inject"
                        href="/copyright">Copyright</a>
                </li>
                <li>
                    <a 
                        data-pat-inject="history: record; scroll: #main"
                        class="pat-inject"
                        href="#">Cookies</a>
                </li>
                <li>
                    <a 
                        data-pat-inject="history: record; scroll: #main"
                        class="pat-inject"
                        href="#">Kwetsbaarheid melden</a>
                </li>
            </ul>
        </div>
    </div>
</div>