<div id="site-header">
    <a class="homepage" href="/" title="Terug naar homepage"><span class="ro-serif dept">{{ site.data.prozin.ui.label_organisation_name[site.lang] }}</span></a>

    {% if site.last_modified %}
      <!-- Date of latest publication -->
      <p 
          class="date-modified">
          Bijgewerkt tot <time>{{ site.last_modified | date: "%-d %B %Y" }}</time>
      </p>
    {% endif %}

    {% if site.data.prozin.personae[site.persona]role == 'manufacturer' %}
        {% assign dashboard_url = '/manage/' %}
    {% elsif site.data.prozin.personae[site.persona]role == 'bystander' %}
        {% assign dashboard_url = '/beheer-lezer' %}
    {% elsif site.data.prozin.personae[site.persona]role == 'workgroup-member' %}
        {% assign dashboard_url = '/beheer-werkgroeplid' %}
    {% else %}
        {% assign dashboard_url = '/beheer' %}
    {% endif %}

    {% unless site.global_functions == false %}
      <div id="global-functions">
          {% if site.user == 'anonymous' %}
              <a href="/login" 
                 id="login">{{ site.data.prozin.ui.label_login[site.lang] }}</a>
          {% elsif page.url == '/login' %}
<!--               <a href="{{ dashboard_url }}"
                 class="icon-dashboard pat-inject"
                 data-pat-inject="history: record">Dashboard</a>
 -->              <a href="/login" id="login">{{ site.data.prozin.ui.label_login[site.lang] }}</a>
<!--               <a href="{{ dashboard_url }}"
                 class="icon-dashboard pat-inject"
                 data-pat-inject="history: record">Dashboard</a>
 -->          {% else %}
              <a href="{{ dashboard_url }}"
                 class="icon-dashboard pat-inject"
                 data-pat-inject="history: record">Dashboard</a>
              <a href="#login-menu" 
                 data-pat-tooltip="position-list: tr; source: ajax" 
                 class="pat-tooltip" 
                 id="login">{{ site.data.prozin.ui.label_logged_in_as[site.lang] }} {{ site.data.prozin.personae[site.persona]first_name }} {{ site.data.prozin.personae[site.persona]last_name }}</a>
          {% endif %}
      </div>
      <div id="login-menu" hidden>
      	<ul class="menu">
              {% unless site.user == 'anonymous' %}
                  <li>
                      <a href="/profiel" 
                         class="pat-inject icon-user" 
                         data-pat-inject="history: record">{{ site.data.prozin.ui.label_my_profile[site.lang] }}</a>
                  </li>
                  <li>
                      <a href="/voorkeuren" 
                         class="pat-inject icon-cog" 
                         data-pat-inject="history: record">{{ site.data.prozin.ui.label_preferences[site.lang] }}</a>
                  </li>
              {% endunless %}
            <li>
              <a href="/personal/favourites" 
                 class="icon-star pat-inject" 
                 data-pat-inject="history: record">{{ site.data.prozin.ui.label_favourites[site.lang] }}</a>
            </li>
      		<li>
      			<a href="/change-password" 
                     class="icon-key pat-inject" 
                     data-pat-inject="history: record">{{ site.data.prozin.ui.label_change_password[site.lang] }}</a>
      		</li>
      		<li>
      			<form action="/login">
      				<button type="submit" 
                         class="icon-exit pat-inject" 
                         data-pat-inject="history: record">{{ site.data.prozin.ui.label_log_out[site.lang] }}</button>
      			</form>
      		</li>
      	</ul>
      </div>
    {% endunless %}
</div>