{% if page.sub_nav %}
    {% unless page.layout == 'landing-toc' %}
        <div 
            id="sub-nav">
            {% if page.hero %}
                <figure 
                    id="hero">
                    <img src="{{ page.hero }}" alt="" />
                </figure>
            {% endif %}
            <div 
                class="container">
                <ul 
                    class="link-list">
                    {% for item in page.sub_nav %}
                        <li>
                            <a 
                                title="{{ item.description }}" 
                                class="pat-inject {% if item.icon %}icon-{{ item.icon }}{% endif %}" data-pat-inject="history: record; scroll: #main" 
                                href="{{ item.url }}">{{ site.data.prozin.ui[item.name][site.lang] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endunless %}
{% endif %}