{% if page.sub_nav or page.sub_nav_prepend or page.sub_nav_append %}
    {% unless page.layout == 'landing-toc' %}
        <div 
            id="sub-nav">
            {% if page.hero %}
                <figure 
                    id="hero">
                    <img src="{{ page.hero }}" alt="" />
                </figure>
            {% endif %}
            <div 
                class="container">
                <ul 
                    class="link-list">
                    {% for item in layout.sub_nav_prepend %}
                        <li>
                            <a 
                                title="{{ item.description }}" 
                                class="pat-inject {% if item.icon %}icon-{{ item.icon }}{% endif %}" 
                                data-pat-inject="history: record; scroll: #main" 
                                href="{{ item.url }}">{% include patterns/i18n id=item.name %}</a>
                        </li>
                    {% endfor %}
                    {% if page.layout contains 'dashboard' %}
                        {% for item in site.data.content-types %}
                            {% for collection in item.collection %}
                                <li>
                                    <a 
                                        class="pat-inject {% if item.icon %}icon-{{ item.icon }}{% endif %}" 
                                        data-pat-inject="history: record; scroll: #main" 
                                        href="{{ collection.url }}">{% include patterns/i18n id=collection.i18n %}</a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                        {% for item in site.data.prozin.content-types %}
                            {% for collection in item.collection %}
                                <li>
                                    <a 
                                        class="pat-inject {% if item.icon %}icon-{{ item.icon }}{% endif %}" 
                                        data-pat-inject="history: record; scroll: #main" 
                                        href="{{ collection.url }}">{% include patterns/i18n id=collection.i18n %}</a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% for item in page.sub_nav %}
                        <li>
                            <a 
                                title="{{ item.description }}" 
                                class="pat-inject {% if item.icon %}icon-{{ item.icon }}{% endif %}" 
                                data-pat-inject="history: record; scroll: #main" 
                                href="{{ item.url }}">{{ site.data.prozin.ui[item.name][site.data.config.lang] }}</a>
                        </li>
                    {% endfor %}
                    {% for item in layout.sub_nav_append %}
                        <li>
                            <a 
                                title="{{ item.description }}" 
                                class="pat-inject {% if item.icon %}icon-{{ item.icon }}{% endif %}" 
                                data-pat-inject="history: record; scroll: #main" 
                                href="{{ item.url }}">{% include patterns/i18n id=item.name %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endunless %}
{% endif %}