<section 
    class="swim-lane" 
    id="site-navigation">
    <div 
        class="container">
        <h2 
            class="assistive">
            {{ site.data.prozin.ui.label_main_menu[site.data.config.lang] }}
        </h2>
        {% if item.intro %}
            <p 
                class="intro">
                {{ site.data.ui.[item.intro][site.data.config.lang] }}
            </p>
        {% endif %}
        <ul 
            class="nav-tiles pat-equaliser count-{{ page.nav.size }}">
            {% for item in page.nav %}
                <li 
                    class="item">
                    <a 
                        href="{{ item.url }}" 
                        data-pat-inject="history: record; scroll: #main" 
                        class="pat-inject follow icon-{{ item.icon }}">
                        <h3 
                            class="item-title">
                            {% if item.name contains 'prozin.' %}
                                {% capture this_id %}{{ item.name | remove: 'prozin.' }}{% endcapture %}
                                {{ site.data.prozin.ui[this_id][site.data.config.lang] }}
                            {% else %}
                                {{ site.data.ui[item.name][site.data.config.lang] }}
                            {% endif %}
                        </h3>
                        {% if item.description %}
                            <p 
                                class="byline">
                                {% if item.name contains 'prozin.' %}
                                    {% capture this_description %}{{ item.description | remove: 'prozin.' }}{% endcapture %}
                                    {{ site.data.ui[this_id][site.data.config.lang] }}
                                {% else %}
                                    {{ site.data.ui[item.description][site.data.config.lang] }}
                                {% endif %}
                            </p>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>