<section 
    class="swim-lane" 
    id="news">
    <div 
        class="container">
        <h2 
            class="lane-title">
            {{ site.data.prozin.ui.label_news[site.data.config.lang] }}
        </h2>
        <div 
            class="news-feed">
            {% assign news = (site.news | sort: 'date') | reverse %}
            {% assign count = 1 %}
            {% for news-item in news %}
                {% unless news-item.type == 'warning' %}
                    {% if news-item.layout == 'prozin/news-item' and count <= 3 %}
                        <article 
                            class="item {{ item.type }}">
                            <a 
                                class="follow pat-inject" 
                                href="{{ news-item.url }}" 
                                data-pat-inject="history: record; scroll: #main">
                                {% if item.mode == 'images' %}
                                    <figure 
                                        class="illustration">
                                        <picture
                                            class="picture">
                                            <img 
                                                alt="" 
                                                src="{{ news-item.image }}" >
                                            {% if page.copyright == 'Copyright' %}
                                                <small 
                                                    class="copyright-mention type-creative-commons">Daniël Efraïm Kolbach</small>
                                            {% else %}
                                                <small 
                                                    class="copyright-mention type-creative-commons">Daniël Efraïm Kolbach</small>
                                            {% endif %}
                                        </picture>
                                    </figure>
                                {% endif %}
                                <h3 
                                    class="item-title">
                                    {{ news-item.title }}
                                </h3>
                                <p 
                                    class="byline">
                                    <time 
                                        class="byline-item publication-date" 
                                        datetime="">{{ news-item.date | date: "%d-%m-%Y" }}</time>
                                    {% if news-item.section %}
                                        <span
                                            class="byline-item category">{{ news-item.section }}</span>
                                    {% endif %}
                                </p>
                                <p 
                                    class="description">
                                    {{ news-item.summary | truncatewords: 40 }}
                                </p>
                            </a> 
                        </article>
                        {% assign count = count | plus: 1 %}
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </div>
        <p 
            class="lane-footer">
            <a 
                class="more pat-inject" 
                data-pat-inject="history: record; scroll: #main" 
                href="/news/">{{ site.data.prozin.ui.label_more_news[site.data.config.lang] }}</a>
        </p>
    </div>
</section>