<section 
    class="swim-lane" 
    id="swim-lane-editorial">
    <div 
        class="container">
        <h2 
            class="assistive">
            {{ site.data.prozin.ui.label_topics[site.data.config.lang] }}
        </h2>
        <ul 
            class="editorial-list col-4 pat-equaliser">  
            {% for item in site.general %}
                {% unless item.parent or item.state == 'Draft' %}
                    {% assign item_path = item.url | split: "/" | reverse %}
                    {% if item_path[1] == 'general' or item_path[2] == 'general' %}                             
                        {% if item.layout == 'prozin/general-article' %}
                            <li>
                                <a 
                                    href="{{ item.url }}" 
                                    class="pat-inject" 
                                    data-pat-inject="history: record; scroll: #site-header">
                                    <h3 class="item-title">
                                        {{ item.title }}
                                    </h3>
                                    <p>
                                        {% if item.summary %}
                                            {{ item.summary | truncate: 100 }}
                                        {% else %}
                                            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero..
                                        {% endif %}
                                    </p>
                                </a>
                            </li> 
                        {% endif %}
                    {% endif %}           
                {% endunless %}
            {% endfor %}
        </ul>
    </div>
</section>