<tr>
    <td> 
        {% if item.state == 'archived' %}
            <a 
                href="{{ item.url }}" 
                class="pat-inject" 
                data-pat-inject="history: record; scroll: #main" 
                title="{{ item.summary }}"><del>{{ item.title }}</del></a>
        {% else %}
            <a 
                href="{{ item.url }}" 
                class="pat-inject" 
                data-pat-inject="history: record; scroll: #main" 
                title="{{ item.summary }}">{{ item.title }}</a>
        {% endif %} 
    </td> 
    <td>
        {{ item.date | date: "%e %B, %Y %H:%M" }}, door <a href="#" class="pat-inject">{{ item.author | default: 'Riwka Rubinstein'}}</a>
    </td>
    <td>
        {% if item.state == 'archived' %}
            Gearchiveerd
        {% elsif item.state == 'draft' %}
            Concept
        {% else %}
            Gepubliceerd
        {% endif %} 
    </td>
    <td 
        class="functions">
        <a 
            class="iconified icon-ellipsis-hor pat-tooltip tooltip-inactive" 
            href="#id-{{ item.title | slugify }}" 
            data-pat-tooltip="source: ajax; position-list: tr">More…</a>
        <div
            hidden
            id="id-{{ item.title | slugify }}">
            <ul 
                class="menu">
                <li>
                    <a 
                        href="{{ item.url }}-edit" 
                        class="icon-edit pat-inject close-panel">{% include patterns/i18n id="label_edit_imp" %}</a>
                </li>
                {% if item.state == 'archived' %}
                    <li>
                        <form
                            action="{{ page.url }}#listing"  
                            class="pat-inject">
                            <button
                                class="icon-archive close-panel"
                                type="submit">{% include patterns/i18n id="label_unarchive_imp" %}</button>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <form
                            action="{{ page.url }}#listing"  
                            class="pat-inject">
                            <button
                                class="icon-archive close-panel"
                                type="submit">{% include patterns/i18n id="label_archive_imp" %}</button>
                        </form>
                    </li>
                {% endif %}
                <li>
                    <a 
                        href="/feedback/delete-content-object#document-content" 
                        data-pat-modal="class: small panel"
                        class="icon-trash pat-modal close-panel">{% include patterns/i18n id="label_remove_imp" %}</a>
                </li>
            </ul>
        </div>
    </td>
</tr>