<form 
    action="{{ page.url }}#listing" 
    class="pat-toolbar pat-bumper pat-inject pat-autosubmit pat-form"
    id="{%- if page.page_type == 'folder' -%}folder-toolbar{%- else -%}cms-section-toolbar{%- endif -%}">
    <div 
        id="cms-section-toolbar-navigation-area"
        class="toolbar-navigation-area">
        {% if page.tabs or layout.tabs %} 
            <div 
                class="toolbar-section navigation"
                id="cms-section-toolbar-navigation">
                <nav 
                    class="pat-tabs pat-button-cluster pat-navigation"
                    id="homescreen-sections-public-data"administration->
                    {% for item in page.tabs %}
                        <a 
                            href="{{ item.url }}"
                            data-pat-inject="history: record; source: #directory; target: #directory && source: #public-data-administration-toolbar-functions-area::element; target: #public-data-administration-toolbar-functions-area::element"
                            class="{% if page.title contains 'zorgaanbieders' %}current{% endif %} pat-inject {% if page.title == 'Medisch-specialistische revalidatie' %}current{% endif %}">{{ item.title }}</a>
                    {% endfor %}
                    {% for item in layout.tabs %}
                        <a 
                            href="{{ item.url }}"
                            data-pat-inject="history: record; source: #directory; target: #directory && source: #public-data-administration-toolbar-functions-area::element; target: #public-data-administration-toolbar-functions-area::element"
                            class="{% if page.title contains 'zorgaanbieders' %}current{% endif %} pat-inject {% if page.title == 'Medisch-specialistische revalidatie' %}current{% endif %}">{{ item.title }}</a>
                    {% endfor %}
                </nav>
            </div>
        {% endif %}
    </div>
    <div 
        id="cms-section-toolbar-functions-area"
        class="toolbar-functions-area pat-inject pat-form pat-autosubmit">
        <div
            class="toolbar-section view-options"
            id="cms-section-toolbar-view-options">
            {%- if page.page_type == 'folder' -%}
                <a 
                    data-pat-inject="history: record"
                    href="{{ page.parent_url | default '/dialogues/cms/general' }}" 
                    title="{{ page.collection | | capitalize | replace: '-', ' ' }}"
                    class="icon level-up pat-inject">Back</a>
                <h2 
                    class="toolbar-title">
                    {{ page.title }}
                </h2>
            {%- endif -%}
            
            <div 
                class="
                    pat-collapsible 
                    pat-context-menu 
                    filter-menu
                    no-label 
                    icon-filter 
                    closed"
                data-pat-collapsible="
                    close-trigger: .context-menu:not(#filters-menu),.close-menu" 
                id="filters-menu">
                <strong 
                    class="context-menu-label menu-trigger">Filters</strong>
                <div 
                    class="panel-content" >
                    <p 
                        class="close-menu">Sluit</p>
                    <fieldset 
                        class="vertical">
                        <label>
                            Auteur
                            <select>
                                <option>Any author</option>
                            </select>
                        </label>
                        <label>
                            Workflow state
                            <select 
                                name="" 
                                id="">
                                <option value="">Any workflow state</option>
                                <option value="">New</option>
                                <option value="">Draft</option>
                                <option value="">For review</option>
                                <option value="">Published</option>
                            </select>
                        <fieldset
                            class="group pat-checklist">
                            <legend>Status</legend>
                            <label>
                                Gearchiveerd
                                <input 
                                    type="checkbox"
                                    unchecked>
                            </label>
                        </fieldset>
                        </label>
                        {% if page.filters %}
                            <fieldset 
                                class="pat-checklist"> 
                            <p 
                                class="legend">Registratie</p>                        
                                <label>Toon alleen ATMP's 
                                    <input type="checkbox" name="reason_new"></label>
                                <label>Laat alleen weesgeneesmiddelen zien 
                                    <input type="checkbox" name="reason_new"></label>
                            </fieldset>
                                <label class="has-value">
                                Werkingsmechanisme
                                <select 
                                    class="has-value">
                                    
                                    <option>Willekeurig werkingsmechanisme</option>
                                    
                                    
                                    <option>Onbekend</option>
                                    
                                    <option>Enzymvervangende therapie</option>
                                    
                                    <option>PD-1/PD-L1 remmer</option>
                                    
                                    <option>SGLT-remmer</option>
                                    
                                    <option>Tyrosine kinase remmer</option>
                                    
                                    <option>Alkylerend geneesmiddel</option>
                                    
                                    <option>Allergeen</option>
                                    
                                    <option>Allogene gemodificeerde celtherapie</option>
                                    
                                    <option>Aminozuur</option>
                                    
                                    <option>Anders, zie opmerkingenveld</option>
                                    
                                    <option>Angiogeneseremmer</option>
                                    
                                    <option>Anti-androgeen</option>
                                    
                                    <option>Antibioticum</option>
                                    
                                    <option>Antihistamine</option>
                                    
                                    <option>Antilichaam-geneesmiddel conjugaat</option>
                                    
                                    <option>Antimycoticum</option>
                                    
                                    <option>Antioxidant</option>
                                    
                                    <option>Antisense oligonucleotide</option>
                                    
                                    <option>Antistollingsfactor</option>
                                    
                                    <option>Autologe gemodificeerde celtherapie</option>
                                    
                                    <option>Bcl-2 remmer</option>
                                    
                                    <option>BET remmer</option>
                                    
                                    <option>Calcineurineremmer</option>
                                    
                                    <option>Cannabidoïde</option>
                                    
                                    <option>CAR-T therapie</option>
                                    
                                    <option>CDK4/6 tyrosine kinaseremmer</option>
                                    
                                    <option>CFS1R remmer</option>
                                    
                                    <option>CGRP-gericht antilichaam</option>
                                    
                                    <option>Cheleermiddel</option>
                                    
                                    <option>Combinatietherapie</option>
                                    
                                    <option>Complementsysteemremming</option>
                                    
                                    <option>Corticosteroïd</option>
                                    
                                    <option>CTLA-4 antilichaam</option>
                                    
                                    <option>Cytostaticum</option>
                                    
                                    <option>Desinfectant</option>
                                    
                                    <option>Eiwitchaperone</option>
                                    
                                    <option>Enzym</option>
                                    
                                    <option>Enzymremmer</option>
                                    
                                    <option>Gentherapie</option>
                                    
                                    <option>GLP-1 receptoragonist</option>
                                    
                                    <option>Glucagonanaloog</option>
                                    
                                    <option>Groeifactor</option>
                                    
                                    <option>HIV remmer</option>
                                    
                                    <option>Hormonale therapie</option>
                                    
                                    <option>Immunostimulatie</option>
                                    
                                    <option>Immunosuppressie</option>
                                    
                                    <option>Insulinepreparaat</option>
                                    
                                    <option>Interferonremmer</option>
                                    
                                    <option>Interleukineremmer</option>
                                    
                                    <option>JAK tyrosine kinaseremmer</option>
                                    
                                    <option>Kankervaccin</option>
                                    
                                    <option>LABA/ICS</option>
                                    
                                    <option>LABA/LAMA</option>
                                    
                                    <option>LABA/LAMA/ICS</option>
                                    
                                    <option>LAMA</option>
                                    
                                    <option>MEK kinaseremmer</option>
                                    
                                    <option>Natriumkanaalblokker</option>
                                    
                                    <option>Neurotoxine</option>
                                    
                                    <option>Neurotransmitter</option>
                                    
                                    <option>Oncolytisch adenovirus</option>
                                    
                                    <option>Overig</option>
                                    
                                    <option>PARP-remmer</option>
                                    
                                    <option>Proteasoomremmer</option>
                                    
                                    <option>Receptoragonist</option>
                                    
                                    <option>Receptorantagonist</option>
                                    
                                    <option>Serine/threonine kinaseremmer</option>
                                    
                                    <option>Stollingsfactor</option>
                                    
                                    <option>Trombineremmer</option>
                                    
                                    <option>Vasodilator</option>
                                    
                                    <option>Virusremmer</option>
                                    
                                </select>
                                </label>
                                <label class="has-value" data-value="Willekeurig bekostigingskader">
                                Bekostigingskader
                                <select class="has-value" data-value="Willekeurig bekostigingskader">
                                    
                                    <option>Willekeurig bekostigingskader</option>
                                    
                                    
                                    <option>Onbekend</option>
                                    
                                    <option>Intramuraal (MSZ)</option>
                                    
                                    <option>Extramuraal (GVS)</option>
                                    
                                </select>
                                </label>
                            <label class="has-value" data-value="Willekeurige bijzonderheid">
                            Bijzonderheid
                            <select class="has-value" data-value="Willekeurige bijzonderheid">
                                
                                <option>Willekeurige bijzonderheid</option>
                                
                                
                                <option>Onbekend</option>
                                
                                <option>Indicatieuitbreiding</option>
                                
                                <option>Nieuwe toedieningsvorm</option>
                                
                                <option>Nieuw geneesmiddel</option>
                                
                                <option>Nieuw geneesmiddel met Priority Medicines (PRIME)</option>
                                
                            </select>
                            </label>
                            <label class="has-value" data-value="">Sluice medicines<select name="" class="has-value" data-value="">
                                <option value="">Any sluice status</option>
                                <option value="">Meets sluice criteria</option>
                                <option value="">Sluice candidate</option>
                                <option value="">Included in the sluice</option>
                            </select>
                            </label>
                        {% endif %}
                    </fieldset>
                </div>
            </div>
            
            <button 
                class="pat-button default batch-operation"
                type="submit">
                {%- include patterns/i18n id="label_publish_imp" -%}
            </button>
            
            <button 
                class="pat-button batch-operation"
                type="submit">
                {%- include patterns/i18n id="label_archive_imp" -%}
            </button>
        </div>
        <div 
            class="toolbar-section quick-functions"
            id="cms-section-toolbar-quick-functions">
            {%- if page.page_type == 'folder' -%}
                <a 
                    class="icon preview"
                    target="{% include patterns/i18n id='label_preview' %}" 
                    title="{% include patterns/i18n id='label_preview' %}"
                    href="{{ page.url | replace: '-state-edit', '-preview' }}#main">{% include patterns/i18n id='label_preview' %}</a>
                {% include  prozin/language-menu.html %}
                <a 
                    href="/dialogues/cms/panel-edit-folder#document-content" 
                    data-pat-modal="class: medium panel"
                    class="pat-modal pat-button">{%- include patterns/i18n id="label_edit_imp" -%}</a>
            {%- endif -%}
            <button 
                type="button"
                data-pat-toggle="
                    selector: #content;
                    value: mode-select;
                "
                class="icon pat-toggle select">Selecteer</button>
            <a 
                class="icon new pat-tooltip" 
                data-pat-tooltip="position-list: tr; source: ajax" 
                href="#new-menu">Nieuw</a>
            <label 
                class="pat-toolbar-search-field">
                <input 
                    type="search" 
                    placeholder="Zoeken binnen sectie">
                <button
                    class="assistive"
                    type="submit">Verstuur</button>
            </label>

            <div 
                hidden 
                id="new-menu">
                <ul 
                    class="menu">
                    {% for item in page.content_types %}
                        {% if item.name == 'prozin/news-item' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/dialogues/cms/new-news-item">{% include patterns/i18n id="label_new_news_item" %}</a>
                            </li>
                        {% elsif item.name == 'prozin/general-article' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/dialogues/cms/new-general-article">{% include patterns/i18n id="label_new_article" %}</a>
                            </li>
                        {% elsif item.name == 'prozin/landing-cms-folder' %}
                            {%- if page.collection == 'development-tools' -%}
                                <li>
                                    <a 
                                        class="close-panel pat-modal" data-pat-modal="class: medium panel"
                                        href="/beheer/panel-add-folder-development-tools#document-content">{% include patterns/i18n id="label_new_folder" %}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a 
                                        class="close-panel pat-modal" data-pat-modal="class: medium panel"
                                        href="/dialogues/cms/panel-add-folder#document-content">{% include patterns/i18n id="label_new_folder" %}</a>
                                </li>
                            {%- endif -%}
                        {% elsif item.name == 'prozin/landing-smart' %}
                            <li>
                                <a 
                                    class="close-panel pat-modal" 
                                    data-pat-modal="class: medium panel"
                                    href="/dialogues/cms/new-smart-folder">{% include patterns/i18n id="label_new_smart_folder" %}</a>
                            </li>
                        {% elsif item.name == 'quality-registration' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-quality-registration">{% include patterns/i18n id="label_new_quality_registration" %}</a>
                            </li>
                        {% elsif item.name == 'prozin/glossary' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-concept">{% include patterns/i18n id="label_new_glossary" %}</a>
                            </li>
                        {% elsif item.name == 'tool' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-development-tool">{% include patterns/i18n id="label_new_development_tool" %}</a>
                            </li>
                        {% elsif item.name == 'measuring-instrument' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-measuring-instrument">{% include patterns/i18n id="label_new_measuring_instrument" %}</a>
                            </li>
                        {% else %}
                            <li>
                                {% capture this_label %}label_new_{{ item.name | remove: 'prozin/' | replace: '-', '_' }}{% endcapture %}
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-{{ item.name | remove: 'prozin/' | slugify }}">{% include patterns/i18n id=this_label %}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</form>
