{%- capture this_version -%}
    {%- if page.state == 'Published' -%}
        {% include patterns/i18n id="label_version" %} 4 (2 november 2023)
    {%- else -%}
        {{ page.state }}
    {%- endif -%}
{%- endcapture -%}

<a 
    href="#versioning-menu"
    data-pat-tooltip="
        source: ajax; 
        class: versioning-menu;
        position-list: tl"
    class="pat-tooltip pat-select state-{{ page.state | slugify }}">{{ this_version }}</a>
<template 
    id="versioning-menu"
    hidden>
    <div 
        class="pat-well">
        <h2 
            class="tooltip-separation-header">
            {%- if page.state == 'Published' -%}
                {% include patterns/i18n id="label_version" %} 4
            {%- else -%}
                {{ page.state }}
            {%- endif -%}
        </h2>
        <dl 
            class="pat-grid-list">

            <dt>Created</dt>
            <dd>{{ page.date | date: "%e %B %Y, %H:%M" }}, door <a href="#"
                    class="pat-inject">{{ page.author | default: 'Diego di Pietro'}}</a></dd>

            <dt>{%- include patterns/i18n id="label_last_modified" -%}</dt>
            <dd>{{ page.date | date: "%e %B %Y, %H:%M" }}, door <a href="#"
                class="pat-inject">{{ page.author | default: 'Riwka Rubinstein'}}</a></dd>
            
            {% if page.state == "Published" %}
                <dt>Published</dt>
                <dd>
                    {{ page.date | date: "%e %B %Y, %H:%M" }}, 
                    door 
                    <a 
                        href="#"
                        class="pat-inject">{{ page.author | default: 'Riwka Rubinstein'}}</a>
                </dd>
            {% elsif page.state == "Sent" %}
                <dt>Sent</dt>
                <dd>
                    {{ page.date | date: "%e %B %Y, %H:%M" }}, 
                    door 
                    <a 
                        href="#"
                        class="pat-inject">{{ page.author | default: 'Riwka Rubinstein'}}</a>
                </dd>
            {% elsif page.state == "Approved" %}
                <dt>
                    Approved
                </dt>
                <dd>
                    {{ page.date | date: "%e %B %Y, %H:%M" }}, 
                    door 
                    <a 
                        href="#"
                        class="pat-inject">{{ page.author | default: 'Boris Bauknecht'}}</a>
                </dd>
                <dt>{%- include patterns/i18n id="label_authorised_for_publication" -%}</dt>
                <dd>
                    <span 
                        class="pat-comma-separated">
                        <a 
                            data-pat-inject="history: record"
                            href="#" 
                            class="segment pat-inject">Riwka Rubinstein</a>
                        <a 
                            data-pat-inject="history: record"
                            href="#" 
                            class="segment pat-inject">Boris Bauknecht</a>
                    </span>
                </dd>
            {% elsif page.state == "For review" %}
                <dt>
                    Submitted
                </dt>
                <dd>
                    {{ page.date | date: "%e %B %Y, %H:%M" }}, 
                    door 
                    <a 
                        href="#"
                        class="pat-inject">{{ page.author | default: 'Diego di Petro'}}</a>
                </dd>
                <dt>{%- include patterns/i18n id="label_authorised_for_approval" -%}</dt>
                <dd>
                    <span 
                        class="pat-comma-separated">
                        <a 
                            data-pat-inject="history: record"
                            href="#" 
                            class="segment pat-inject">Riwka Rubinstein</a>
                        <a 
                            data-pat-inject="history: record"
                            href="#" 
                            class="segment pat-inject">Boris Bauknecht</a>
                    </span>
                </dd>
            {% endif %}
        </dl>
        <p
            class="pat-button-bar">
            {% include prozin/workflow-state-button.html
                class="small close-panel default" %}
            {% if page.state == 'Draft' %}
                <a
                    data-pat-modal="class: small panel"
                    href="/dialogues/cms/panel-delete-draft#document-content" 
                    class="icon-trash pat-button small pat-modal close-panel">
                    {% include patterns/i18n id="label_delete_draft_imp" %}
                </a>
            {% elsif page.state == 'Sent' %}
                
            {% elsif page.state == 'Published' %}
                <a
                    data-pat-modal="class: small panel"
                    href="/dialogues/cms/unpublish-confirm.html#document-content"
                    class="pat-button small pat-modal close-panel">
                    {% include patterns/i18n id="label_unpublish_imp" %}
                </a>
            {% else %}
                <a
                    data-pat-modal="class: small panel"
                    href="/dialogues/cms/back-to-workflow-state-confirm.html#document-content"
                    class="pat-button small pat-modal close-panel">
                    {% include patterns/i18n id="label_retract_imp" %}
                </a>
            {% endif %}
        </p>
    </div>
    {%- if page.revisions -%}
        <h2
            class="tooltip-separation-header">
            {%- include patterns/i18n id="label_other_versions" -%}
        </h2>
        <ul 
            class="pat-navigation link-list">
            {% for item in page.revisions %}
                <li
                    class="state-{{ item.state | slugify }}">
                    <a  
                        data-pat-inject="history: record"
                        href="#" 
                        class="pat-inject">
                        <strong 
                            class="link-title">{{ item.name }}</strong> 
                        <p 
                            class="link-byline">{{ item.date }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>   
    {%- endif -%}
</template>