<form 
    action="{{ page.url }}#listing" 
    class="pat-toolbar pat-bumper pat-inject pat-autosubmit pat-form"
    id="{%- if page.page_type == 'folder' -%}folder-toolbar{%- else -%}cms-section-toolbar{%- endif -%}">
    <div 
        id="cms-section-toolbar-functions-area"
        class="toolbar-functions-area pat-inject pat-form pat-autosubmit">
        <div
            class="toolbar-section view-options"
            id="cms-section-toolbar-view-options">
            {%- if page.page_type == 'folder' -%}
                <a 
                    data-pat-inject="history: record"
                    href="{{ page.parent_url | default '/dialogues/cms/general' }}" 
                    title="{{ page.collection | | capitalize | replace: '-', ' ' }}"
                    class="icon level-up pat-inject">Back</a>
                <h2 
                    class="toolbar-title">
                    {{ page.title }}
                </h2>
            {%- endif -%}
        </div>
        {% if page.tabs %} 
            <div 
                class="toolbar-section navigation"
                id="cms-section-toolbar-navigation">
                <nav 
                    class="pat-tabs pat-button-cluster pat-navigation"
                    id="homescreen-sections-public-data"administration->
                    {% for item in page.tabs %}
                        <a 
                            href="{{ item.url }}"
                            data-pat-inject="history: record; source: #directory; target: #directory && source: #public-data-administration-toolbar-functions-area::element; target: #public-data-administration-toolbar-functions-area::element"
                            class="{% if page.title contains 'zorgaanbieders' %}current{% endif %} pat-inject {% if page.title == 'Medisch-specialistische revalidatie' %}current{% endif %}">{{ item.title }}</a>
                    {% endfor %}
                </nav>
            </div>
        {% endif %}
        <div 
            class="toolbar-section quick-functions"
            id="cms-section-toolbar-quick-functions">
            {%- if page.page_type == 'folder' -%}
                <a 
                    class="icon preview"
                    target="{% include patterns/i18n id='label_preview' %}" 
                    title="{% include patterns/i18n id='label_preview' %}"
                    href="{{ page.url | replace: '-state-edit', '-preview' }}#main">{% include patterns/i18n id='label_preview' %}</a>
                <a 
                    href="/dialogues/cms/panel-edit-folder#document-content" 
                    data-pat-modal="class: medium panel"
                    class="pat-modal pat-button">{%- include patterns/i18n id="label_edit_imp" -%}</a>
            {%- endif -%}
            <a 
                class="icon new pat-tooltip" 
                data-pat-tooltip="position-list: tr; source: ajax" 
                href="#new-menu">Nieuw</a>
            <label 
                class="pat-toolbar-search-field">
                <input 
                    type="search" 
                    placeholder="Zoeken binnen sectie">
                <button
                    class="assistive"
                    type="submit">Verstuur</button>
            </label>

            <div 
                hidden 
                id="new-menu">
                <ul 
                    class="menu">
                    {% for item in page.content_types %}
                        {% if item.name == 'prozin/news-item' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/dialogues/cms/new-news-item">{% include patterns/i18n id="label_new_news_item" %}</a>
                            </li>
                        {% elsif item.name == 'prozin/general-article' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/dialogues/cms/new-general-article">{% include patterns/i18n id="label_new_article" %}</a>
                            </li>
                        {% elsif item.name == 'prozin/landing-cms-folder' %}
                            {%- if page.collection == 'development-tools' -%}
                                <li>
                                    <a 
                                        class="close-panel pat-modal" data-pat-modal="class: medium panel"
                                        href="/beheer/panel-add-folder-development-tools#document-content">{% include patterns/i18n id="label_new_folder" %}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a 
                                        class="close-panel pat-modal" data-pat-modal="class: medium panel"
                                        href="/dialogues/cms/panel-add-folder#document-content">{% include patterns/i18n id="label_new_folder" %}</a>
                                </li>
                            {%- endif -%}
                        {% elsif item.name == 'prozin/landing-smart' %}
                            <li>
                                <a 
                                    class="close-panel pat-modal" 
                                    data-pat-modal="class: medium panel"
                                    href="/dialogues/cms/new-smart-folder">{% include patterns/i18n id="label_new_smart_folder" %}</a>
                            </li>
                        {% elsif item.name == 'quality-registration' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-quality-registration">{% include patterns/i18n id="label_new_quality_registration" %}</a>
                            </li>
                        {% elsif item.name == 'prozin/glossary' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-concept">{% include patterns/i18n id="label_new_glossary" %}</a>
                            </li>
                        {% elsif item.name == 'tool' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-development-tool">{% include patterns/i18n id="label_new_development_tool" %}</a>
                            </li>
                        {% elsif item.name == 'measuring-instrument' %}
                            <li>
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-measuring-instrument">{% include patterns/i18n id="label_new_measuring_instrument" %}</a>
                            </li>
                        {% else %}
                            <li>
                                {% capture this_label %}label_new_{{ item.name | replace: '-', '_' }}{% endcapture %}
                                <a 
                                    class="close-panel pat-inject" 
                                    href="/beheer/new-{{ item.name }}">{% include patterns/i18n id=this_label %}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</form>
