<fieldset
    data-pat-inject="
        source: #user-edit-first-name;
        target: #user-edit-first-name;
          &&
        source: #user-edit-last-name;
        target: #user-edit-last-name;
          &&
        source: #user-edit-organisation;
        target: #user-edit-organisation;"
    class="pat-subform pat-inject form-panel horizontal">
    {% if include.role == 'Owner' %}
        <label
            class="pat-autosubmit"> 
            E-mail
            <input 
                class="pat-autosuggest"
                required
                autofocus 
                name="email"
                type="text"
                data-pat-autosuggest='
                    allow-new-words: true; 
                    maximum-selection-size: 1; 
                    ajax-search-index: text; 
                    ajax-url: /feedback/users.json;'/>
            <button
                hidden
                formaction="/dialogues/users/edit-user-found"
                type="submit">Verstuur</button>
        </label>
    {% endif %}
    <label
        id="user-edit-first-name">
        Voornaam
        <input 
            {% if include.existing %}
                disabled
                value="Daniël E. Cornelis"
            {% endif %}
            required 
            {% if include.role == 'Owner' %}class="pat-autofocus"{% endif %}
            type="text" 
            name="first_name">
    </label>
    <label
        id="user-edit-last-name">
        Achternaam
        <input 
            {% if include.existing %}
                disabled
                value="Kolbach"
            {% endif %}
            required 
            type="text" 
            name="family_name">
    </label>
    {% unless include.role == 'Owner' %}
        <label>
            E-mail
            <input 
                required 
                type="email" 
                name="email">
        </label>
    {% endunless %}
    {% if include.role == 'Owner' %}
        <label>
            {% include patterns/i18n id="label_organisation" %}   
            <input 
                class="pat-autosuggest organisations"
                data-pat-autosuggest='
                    allow-new-words: true; 
                    ajax-search-index: text; 
                    ajax-url: /dialogues/organisations/organisations.json;'
                type="text" 
                name="administrators" />
        </label>
    {% endif %}
    {% if include.context == "app" %}
        {%- comment -%}
            <h3
                class="form-section-header">{%- include patterns/i18n id="label_permission_levels_employee_zinl" -%}</h3>
            {% for product in site.data.prozin.products %}
                <label>  
                    {{ product.name }}
                    <select>
                        {% for item in site.data.prozin.permission-profiles %}
                            <option>
                                {% include patterns/i18n id=item.i18n %}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            {% endfor %}
        {%- endcomment -%}
    {% else %}
        <fieldset
            class="pat-checklist radio">  
            <legend>{% include patterns/i18n id="label_permisisons_within_this_application" %}</legend>
            {%- for item in site.data.prozin.permission-profiles -%}
                {%- if item.dashboard == true -%}
                    <label>
                        <input 
                            type="radio" 
                            {% if item.name == 'Lid' %}
                                checked
                            {% endif %} 
                            name="role">
                        {% include patterns/i18n id=item.i18n %}
                    </label>
                {%- endif -%}
            {%- endfor -%}
        </fieldset> 
    {% endif %}
</fieldset>